
<div class="container">
    <div>
        <h2 class="text-center">Guide global de progression</h2>
        <h5 class="text-center">Aka les points clefs que je conseille de faire</h5>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Sommaire</div>
        <div class="textContent">
            <p>
                Mini-disclaimer : il s'agit ici d'un mix de ce qui est communément accepté par la communauté comme étant des bonnes choses à faire, et un peu de mon avis personnel.
            </p>
            <p>
                Selon ce que vous aimez (farm chill, bash des mobs, tryhard haute difficulté stasis, etc.), vous pouvez avoir une approche différente du jeu, cependant le guide est orienté nouveaux joueurs, et ce que je pense qu'il serait bon pour eux à savoir.
            </p>
            <ul>
                <li><a [routerLink]="[]" fragment="level20">De la création au niveau 20</a></li>
                <li><a [routerLink]="[]" fragment="level20-50">Du niveau 21 à 50</a></li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <span id="level20"></span>
        <div class="textContentTitle">De la création au niveau 20</div>
        <div class="textContent">
            <ol>
                <li> Faites la <b>quête tutoriel de l'île de Rii</b> (où vous avez spawn). Compléter cette quête vous offira un sac de 20 places en récompense. Ce sera probablement le meilleur sac que vous autrez jusqu'au lv 140.</li>
                <li>
                    Une fois descendus à Astrub, faites la <b>quête de Goultard</b>, et faites la <b>quête de l'apprenti d'Otomai</b> qui est lancée pendant la quête de Goultard. Celle-ci vous demande de réaliser des donjons de votre niveau, et vous récomponse avec beaucoup d'xp et un item sympa.
                </li>
                <ul>
                    <li>
                        A chaque fois que vous réalisez une étape de la quête de l'apprenti d'Otomai, il vous donnera la prochaine étape, qui demandera d'aller accomplir des donjons d'une tranche de niveaux supérieure. C'est une bonne quête pour vous guider vers les donjons que vous devriez faire, et qui va vous accompagner jusqu'au niveau 200.
                    </li>
                </ul>
                <li>
                    Faites les <b>quêtes des mercenaires d'Astrub</b>. Elles vous donneront de l'xp facile et des jetons.
                </li>
                <li>Allez <b>rejoindre une nation</b>, en interagissant avec le panneau à côté du bateau, proche du drago-express du port.</li>
                    <ul>
                        <li>Rejoindre une nation offre passivement des <b>bonus de drop et d'xp</b>, en fonction du nombre de territoires que la nation contrôle.</li>
                        <li>Rejoindre une nation n'a aucun impact sur le reste du jeu (à par si vous voulez faire du pvp), choisissez celle que vous préférez, peu importe.</li>
                    </ul>
                <ul>
                    <li>Rappel : ces jetons sont utilisables auprès du croupier, situé à côté du zaap</li>
                    <ul>
                        <li>Rappel 2 : chaque zone permet d'obtenir des jetons différents, correspondant au niveau de la zone. Ces jetons permettent d'achetter des ressources et des items auprès de croupiers. Ces croupiers sont généralement situés dans des endroits "évidents" de la zone, comme par exemple à côté d'un zaap, ou d'un bateau. Ils sont indiqués sur la carte.</li>
                    </ul>
                </ul>
                <li>
                    Faites vous d'abord un stuff avant de taper les donjons, ce sera plus agréable pour vous. Vous pouvez trouver les stuffs que je recommande sur <a routerLink="/stuff/20"> la page dédiée aux stuffs de la tranche de niveau 20</a>.
                </li>
                <ul>
                    <li>Rappel : en général on se fait un bon stuff toutes les deux tranches de niveaux. Ces "tranches" correspondent aux niveaux de modulation (la modulation elle-même se débloque à partir du moment où au moins un personnage est niveau 51 ou +). Ces niveaux commencent au niveau 20, et puis tous les 15 niveaux. Donc 20, 35, 50, 65, etc.</li>
                    <li>On va donc vouloir faire un bon stuff niveau 20, et l'utiliser pour réaliser les donjons de niveaux 20 et 35.</li>
                    <li>Et on fera notre prochain stuff pour la tranche de niveau 50</li>
                    <li>Ceci permet d'économiser beaucoup de kamas</li>
                </ul>
                <li>Faites la quête principale au moins jusqu'au moment où elle vous demande de passer niveau 21 et de vous diriger vers le bateau.</li>
            </ol>
        </div>
    </div>

    <div class="textcontentContainer">
        <span id="level20-50"></span>
        <div class="textContentTitle">Du niveau 21 à 50</div>
        <div class="textContent">
            <p> Vous devriez maintenant avoir un stuff lv20 correct.</p>
            <ol>
                <li>Si vous ne l'avez pas encore fait, réalisez les donjons du niveau 35 (donjon piou, donjon abrakne, caveau relevé) au moins une fois, en finissant le boss en dernier (pour l'achievement)</li>
                <li>Continuez la quête principale le plus possible</li>
                <li>Une fois à Amakna, dès que vous le pouvez, prenez la quête des chasseurs. Pas besoin de la faire tout de suite, mais on la validera passivement par la suite, ce qui fait de l'xp et des jetons bonus.</li>
                <li>Une fois niveau 36, allez au donjon Moogr, et réalisez le plusieurs fois. Si vous y arrivez, le stasis 3 ou 4 est mieux, mais ne vous forcez pas si vous n'avez pas encore de stuff assez solide. Si il vous manque quelques niveaux pour rentrer, n'hésitez pas à réaliser quelques combats contre les mobs environants.</li>
                <ul>
                    <li>Les items Moogr sont génériquement bons sur tous les persos, farmez le donjon jusqu'a avoir un bon stuff.</li>
                    <li>J'ai réalisé des exemples de stuffs lowcost sur <a routerLink="/stuff/50"> la page dédiée aux stuffs de la tranche de niveau 50</a></li>
                </ul>
                <li>Une fois votre stuff en poche, allez faire les quêtes mercenaires. Celles-ci vous demanderont de réaliser une fois chaque donjon de la zone, et vous récompenseronts avec des kamas et des jetons.</li>
                <li>Avec les jetons obtenus suite aux quêtes mercenaires et à votre farm du donjon Moogr, allez sur l'ile d'Ereboria (prenez le bateau) et allez au croupier. Votre but est maintenant d'y prendre le plus possible de <b>fragments des bottes de Koko</b>. Ce sera votre premier item Relique. Ces bottes donnent d'exellentes stats, et surtout un PA bonus! S'il vous manque des jetons, vous pouvez faire la quête des chasseurs les quêtes de l'ile d'Ereboria.</li>
            </ol>
        </div>
    </div>


</div>
