
<div class="container">
    <h2 class="text-center"> Lv 20 </h2>
    <h5 class="text-center"> Tout le monde est un dpt </h5>
    
    <div class="textcontentContainer">
        <div class="textContentTitle">Préface</div>
        <div class="textContent">
            <p>
                Je propose ici deux builds
            </p>
                <ul>
                    <li>1. Un build extra lowcost temporaire pour les gens qui viennent vraiment tout juste de commencer</li>
                    <li>2. Un build très solide pour la tranche</li>
                </ul>
            <p>
                Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins; le xel aimera par exemple les PO alors que l'elio n'en a pas besoin.
                Comme les stuffs sont génériques, n'hésitez pas à adapter selon vos besoins !
            </p>
            <p>
                Au niveau 20, tous les persos peuvent équiper le même build. Il s'agit de builds full élémentaires génériques. Il n'est pas nécessaire de se spécialiser dans une maitrise précise.
            </p>
            <p>
                Cela vous permettra également d'avoir un unique build que vous pouvez équiper sur tous vos persos, ce qui qui vous permet de tester de nouvelles classes facilement! :)
            </p>
            <p>
                Jouer des persos en tant que "pur supports" ne sert presque à rien; ne vous prenez pas la tête, faites vous plaisir et tapez avec toutes les classes.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Stuff extra lowcost Lv 20</div>
        <div class="textContent">
            <h5> Stuff <span style="color:var(--red)"><b>temporaire</b></span> le temps d'obtenir le suivant.</h5>

            <p class="text-center"> Extra pas cher et super facile à obtenir </p>
            <a class="link-styling" href ="https://www.zenithwakfu.com/builder/88564" target="_blank" rel="noopener noreferrer">
                <img class="stuff-zenith-preview show-hover" src="https://i.imgur.com/JPavhmd.png" alt="build extra lowcost lv 20">
            </a>
            <p class="text-center"> Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/88564" target="_blank" rel="noopener noreferrer"> <b> Build extra lowcost </b> </a> </p>

            <p>
                Notez bien que ce stuff est très faible, et n'est là que <b>temporairement</b> (j'insiste) pour vous permettre de vous équipper le temps de trouver mieux. Les build medium de ce channel auront facilement 50 à 100% de dégats de plus.
            </p>
                <ul>
                    <li> Le chapeau, le plastron, l'anneau et la cape sont gratuits. Il suffit de faire le début de la quête principale dans le égouts et d'obtenir la boussole. </li>
                    La boussole vous permet d'interagir avec les "brumes" cachées sur la map en extérieur.
                    Une fois celle-ci obtenue, rendez-vous aux différents coffres cachés d'astrub pour trouver dans chacun d'entre eux l'un des items.
                    <li>
                        (optionel) La monture s'obtient par une quête qui se lance automatiquement au lv 35. Si vous ne l'avez pas encore, ce n'est pas grave.
                    </li>
                    <li>
                        (optionel) Le familier s'obtient en drop en dongeon sur certaines mimic. C'est relativement rare, il est donc peu probable que vous en droppiez au début. Cependant au global énormément de ces familiers sont drop par les joueurs, ce pourquoi ces familiers (les "krosmunster") sont peu chers en hotel de vente.
                        A nouveau, si vous n'en avez pas au début, ou pas de montés niveau 50, ce n'est pas grave.
                        <ul>
                            <li>
                                Il existe un krosmunster par élément; prenez celui qui correspond à l'element dans lequel vous tapez le plus.
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    Une fois la boussole obtenue, rendez-vous aux différents coffres cachés d'astrub pour trouver dans chacun d'entre eux l'un des items.
                    Dans ce cas-ci, la boussole vous permet d'interagir avec les "brumes".
                </p>
                <div class="astrub_chests_locations">
                    <img src="https://i.imgur.com/F7n2ZSl.png" alt="emplacements coffres brumes">
                </div>
                <p>
                Pour ce qui est des autres items :
                </p>
                <ul>
                    <li> Les items bouftous sont droppables dans le <b>donjon bouftou</b> (à Tainela, en haut de la map) </li>
                    <li> L'anneau tofu est droppable dans le <b>donjon tofu</b>, ou sur <b>les mobs de la famille des tofus</b>, dans les champs d'Astrub (en haut d'astrub et sur la droite)</li>
                    <li> La ceinture est droppable dans le <b>donjon larve</b> ou sur <b>les mobs de la famille des larves</b>. Les deux se situent dans les égouts d'Astrub, le même endroit où la quête principale vous envoie au début </li>
                </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Stuff medium Lv 20</div>
        <div class="textContent">
            <h5 class="text-center"> Un "vrai" bon stuff permettant de faire les donjons Lv 20 et 35 jusqu'en S5 </h5>
            <a class="link-styling" href ="https://www.zenithwakfu.com/builder/165ab" target="_blank" rel="noopener noreferrer">
                <img class="stuff-zenith-preview show-hover" src="https://i.imgur.com/Mzne19j.png" alt="build medium lv 20">
            </a>
            
            <p class="text-center"> Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/165ab" target="_blank" rel="noopener noreferrer"> Build medium </a> </p>
            <p>
                Ce build est bien meilleur et vous permettra de réaliser les donjons des tranches lv 20 et lv 35 en S5.
            </p>
            <ul>
                <li>
                    Le <b>chapeau de paille</b>, les <b>dagues de boisailles</b> et les <b>cartes de boisailles</b> sont obtenables au croupier d'Astrub (à côté du zaap) contre des jetons de la tranche. Pour rappel les jetons s'obtiennent :
                    <ul>
                        <li>A la fin de chaque donjon de la tranche de niveau (ex : tous les donjons de la tranche lv 20 donnent des jetons de la tranche lv 20, ceux de la tranche lv 50 donnent des jetons lv 50, etc.)</li>
                        <li>En récompense à la fin des quêtes des mercenaires de la zone en question. Par exemple les quêtes des mercenaires d'Astrub donnent des jetons de niveau 20. Ceux d'Amakna donnent des jetons de niveau 50, etc.</li>
                    </ul>
                </li>
                <li>
                    La plupart des items doivent être fabriqués. <b> Evitez d'achetter en hdv, les prix sont souvent 3 à 4 fois ceux de craft</b>.
                    <ul>
                        <li>C'est une bonne occasion pour vous initier aux métiers. Contrairement à d'autres MMOs (coucou Dofus), les métiers montent assez vite, et sont plutôt plaisants à monter.</li>
                    </ul>
                </li>
                <li>
                    (optionnel mais vraiment recommandé) L'<b>anneau de satisfaction</b> est droppable sur le boss du donjon Abrakne (situé au nord-ouest d'Astrub).
                </li>
            </ul>
            <h4> Les items les plus optis </h4>
            <p> 
                Pour les plus tryhardeurs d'entre-vous, il existe également deux corps-à-coprs qui sont très légèrement meilleurs que ce qui est proposé.
                Il s'agit vraiment de mini-optimisation, et au global il n'est vraiment pas rentable de chercher à se les procurer. Néanmoins il s'agit de :
            </p>

            <div class="container-alternative-items">

                <div class="alternative-item">
                    <span> <b>Main gauche</b></span>
                    <img  class="stuff-zenith-preview" src="https://i.imgur.com/63MY5lO.png" alt="les lames en table">
                    <span> Les lames en table </span>
                </div>

                <div class="alternative-item">
                    <span> <b>Main droite</b></span>
                    <img  class="stuff-zenith-preview" src="https://i.imgur.com/PxMCG3b.png" alt="la queue">
                    <span> La queue </span>
                </div>

            </div>

            <ul>
                <li>
                    La dague "Lames en table" est un drop rare sur l'archimonstre larve qui spawn parfois dans les égouts.
                </li>
                <li>
                    L'épée "La Queue" est un objet craftable, mais pour pouvoir la fabriquer il faut au préalable avoir appris la recette. Vous pouvez donc l'obtenir :
                    <ul>
                        <li>
                            en accomplissant la quête de Ruel, en obtenant son plan en récompense de quête
                        </li>
                        <li>
                            en achetant le plan en hdv (peut être cher ou non-disponible par moment)
                        </li>
                        <li>
                            en achettant l'épée en hdv (peut être cher)
                        </li>
                        <li>
                            en demandant à quelqu'un qui à déjà débloqué le craft de le faire pour vous
                        </li>
                        <li>
                            en craftant dans l'havre-sac de quelqu'un qui a débloqué le plan
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">
            Les items <span style="color:var(--violet)"><b>Epiques</b></span> et <span style="color:var(--mauve);background-color: rgba(255,255,255,60%); border-radius: 0.3rem; padding:0.2rem;"><b>Reliques</b></span> de la tranche
        </div>
        <div class="textContent">
            <p>
                Concernant les items <span style="color:var(--mauve)"><b>Reliques</b></span>, c'est facile, il n'existe pas d'item de rareté Relique à cette tranche de niveau. Votre porte-monaie s'en réjouit.
            </p>
            <p>
                Concernant les items <span style="color:var(--violet)"><b>Epiques</b></span>
            </p>
            <ul>
                <li>(anneau) <span style="color:var(--violet)">L'Anneau de Satisfaction </span> - Probablement la meilleure relique lowcost. 1PA sur un anneau c'est incroyable à ce niveau, et aux suivants aussi.
                    Les anneaux ne donnent quasi pas de stats jusque bien plus tard dans le jeu (genre lv 140+), donc avoir un anneau +1PA c'est très solide. Vous garderez cet anneau : </li>
                    <ul> 
                        <li>soit jusqu'au lv 65 où vous le remplacerez par l'<span style="color:var(--violet)">anneau Insangsé</span></li>
                        <li>soit jusqu'au lv 125 où vous le remplacerez par une <span style="color:var(--violet)">bagus shushu</span></li>
                    </ul>
                <li>(bottes) <span style="color:var(--violet)">Les Bottes de satisfaction</span> - N'y touchez pas. Des bottes +1PM et assez bien de PV pour le niveau. Cet item existe de façon niche pour les tryhardeur stasis. Oubliez le pour le moment. </li>
            </ul>
        </div>
    </div>

</div>
