
<div class="container">
    <div class="content">
        <h2> Lv 20 </h2>
        <h5> Tout le monde est un dpt </h5>
            Je propose ici deux builds
            <ul>
                <li>1. Un build extra lowcost temporaire pour les gens qui viennent vraiment tout juste de commencer</li>
                <li>2. Un build très solide pour la tranche</li>
            </ul>
            Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins; le xel aimera par exemple les PO alors que l'elio n'en a pas besoin.
            Comme les stuffs sont génériques, n'hésitez pas à adapter selon vos besoins !<br>
            <br>
            Au niveau 20, tous les persos peuvent équiper le même build. Il s'agit de builds full élémentaires génériques. Il n'est pas nécessaire de se spécialiser dans une maitrise précise.
            <br>
            Cela vous permettra également d'avoir un unique build que vous pouvez équiper sur tous vos persos, ce qui qui vous permet de tester de nouvelles classes facilement! :)
            <br>
            Jouer des persos en tant que "pur supports" ne sert presque à rien; ne vous prenez pas la tête, faites vous plaisir et tapez avec toutes les classes.
    </div>
    <br>
    <div class="content">
        <h2> 1. Stuff extra lowcost Lv 20 </h2>
        <h5> Stuff <span style="color:var(--red)"><b>temporaire</b></span> le temps d'obtenir l'autre.</h5>
        <h6> Extra pas cher et super facile à obtenir </h6>

            <img src="https://i.imgur.com/D2VAehO.png" alt="build extra lowcost lv 20"> <br>
            Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/88564" target="_blank" rel="noopener noreferrer"> <b> Build extra lowcost </b> </a> <br>
            Notez bien que ce stuff est très faible, et n'est là que <b>temporairement</b> pour vous permettre de vous équipper le temps de trouver mieux. Les build medium de ce channel auront facilement 50 à 100% de dégats de plus.

            <ul>
                <li> Le chapeau, le plastron, l'anneau et la cape sont gratuits. Il suffit de faire le début de la quête principale dans le égouts et d'obtenir la boussole. </li>
                La boussole vous permet d'interagir avec les "brumes" cachées sur la map en extérieur.
                Une fois celle-ci obtenue, rendez-vous aux différents coffres cachés d'astrub pour trouver dans chacun d'entre eux l'un des items.
                <li>
                    (optionel) La monture s'obtient par une quête qui se lance automatiquement au lv 35. Si vous ne l'avez pas encore, ce n'est pas grave.
                </li>
                <li>
                    (optionel) Le familier s'obtient en drop en dongeon sur certaines mimic. C'est relativement rare, il est donc peu probable que vous en droppiez au début. Cependant au global énormément de ces familiers sont drop par les joueurs, ce pourquoi ces familiers (les "krosmunster") sont peu chers en hotel de vente.
                    A nouveau, si vous n'en avez pas au début, ou pas de montés niveau 50, ce n'est pas grave.
                    <ul>
                        <li>
                            Il existe un krosmunster par élément; prenez celui qui correspond à l'element dans lequel vous tapez le plus.
                        </li>
                    </ul>
                </li>
            </ul>

            Une fois la boussole obtenue, rendez-vous aux différents coffres cachés d'astrub pour trouver dans chacun d'entre eux l'un des items.<br>
            Dans ce cas-ci, la boussole vous permet d'interagir avec les "brumes"<br>
            <div class="astrub_chests_locations">
                <img src="https://i.imgur.com/F7n2ZSl.png" alt="emplacements coffres brumes" width="100%"> <br>
            <div>

            Pour ce qui est des autres items :
            <ul>
                <li> Les items bouftous sont droppables dans le <b>donjon bouftou</b> (à Tainela, en haut de la map) </li>
                <li> L'anneau tofu est droppable dans le <b>donjon tofu</b>, ou sur <b>les mobs de la famille des tofus</b>, dans les champs d'Astrub (en haut d'astrub et sur la droite)</li>
                <li> La ceinture est droppable dans le <b>donjon larve</b> ou sur <b>les mobs de la famille des larves</b>. Les deux se situent dans les égouts d'Astrub, le même endroit où la quête principale vous envoie au début </li>
            </ul>
    </div>

    <br>
    <div class="content">
        <h2> 2. Stuff medium Lv 20 </h2>
        <h5> Un "vrai" bon stuff permettant de faire les donjons Lv 20 et 35 jusqu'en S5 </h5>

        <img src="https://i.imgur.com/Eps2G6a.png" alt="build medium lv 20"> <br>
        Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/165ab" target="_blank" rel="noopener noreferrer"> Build medium </a> <br>
        Ce build est bien meiller et vous permettra de faire les donjons des tranches lv 20 et lv 35 en S5.
        <ul>
            <li>
                Le chapeau est obtenable en récompense de croupier contre les jetons. Pour rappel les jetons s'obtiennent :
                <ul>
                    <li>A la fin de chaque donjon de la tranche de niveau (ex : tous les donjons de la tranche lv 20 donnent des jetons X, ceux de la tranche lv 50 donnent des jetons Y, ceux de la tranche 110 donnent des jetons Z, etc.</li>
                    <li>En récompense à la fin des quêtes des mercenaires de la zone en question. Par exemple les quêtes des mercenaires d'Astrub donnent des jetons de niveau 20. Ceux d'Amakna donnent des jetons de niveau 50, etc.</li>
                </ul>
            </li>
            <li>
                La plupart des items doivent être fabriqués. Evitez d'achetter en hdv, les prix sont souvent 3 à 4 fois ceux de craft.
                <ul>
                    <li>C'est une bonne occasion pour vous initier aux métiers. Contrairement à d'autres MMOs (coucou Dofus), les métiers montent assez vite, et sont plutôt plaisants à monter.</li>
                </ul>
            </li>
            <li>
                (optionnel mais vraiment recommandé) L'anneau de satisfaction est droppable sur le boss du donjon Abrakne.
            </li>
            <li>
                L'épée "La Queue" est un objet craftable, mais pour pouvoir le faire il faut apprendre la recette. Vous pouvez le faire :
                <ul>
                    <li>
                        en accomplissant la quête de Ruel, en obtenant son plan en récompense de quête
                    </li>
                    <li>
                        en achetant le plan en hdv (peut être cher ou non-disponible par moment)
                    </li>
                    <li>
                        en achettant l'épée en hdv (peut être cher)
                    </li>
                    <li>
                        en demandant à quelqu'un qui à déjà débloqué le craft de le faire pour vous
                    </li>
                    <li>
                        en craftant dans l'havre-sac de quelqu'un qui a débloqué le plan
                    </li>
                    <li>
                        Notez que vous pouvez <b>remplacer par des cartes de boissailles</b> qui seront beaucoup moins cher, et donnent à peine moins stats
                    </li>
                </ul>
                
            </li>
            <li>
                La dague est un drop rare sur l'archimonstre larve qui spawn parfois dans les égouts.
                <ul>
                    <li>
                        Notez que vous pouvez <b>remplacer par des dagues de boissailles</b> qui seront beaucoup moins cher, et donnent à peine moins stats
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <br>

    <div class="content">
        <h2>3. Les items <span style="color:var(--violet)">Epiques</span> et <span style="color:var(--mauve)">Reliques</span> de la tranche</h2>
        <div class="textContent">

                Concernant les items <span style="color:var(--mauve)">Reliques</span>, c'est facile, il n'existe pas d'item de rareté Relique à cette tranche de niveau. Votre porte-monaie s'en réjouit.

                Concernant les items <span style="color:var(--violet)">Epiques</span>
                <ul>
                    <li>(anneau) <span style="color:var(--violet)">L'Anneau de Satisfaction </span> - Probablement la meilleure relique lowcost. 1PA sur un anneau c'est incroyable à ce niveau, et aux suivants aussi.
                        Les anneaux ne donnent quasi pas de stats jusque bien plus tard dans le jeu (genre lv 140+), donc avoir un anneau +1PA c'est très solide. Vous garderez cet anneau soit jusqu'au lv 65 où vous le remplacerez par l'<span style="color:var(--violet)">anneau Insangsé</span>, soit jusqu'au lv 125 où vous le remplacerez par une <span style="color:var(--violet)">bagus</span>.</li>
                    <li>(bottes) <span style="color:var(--violet)">Les Bottes de satisfaction</span> - N'y touchez pas. Des bottes +1PM et assez bien de PV pour le niveau. Cet item existe de façon très niche pour les tryhardeur stasis. Oubliez le. </li>
                </ul>
        </div>
    </div>
    <br>

</div>
