<div class="container">
    <h2 class="text-center">Les thèmes d'interface</h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Installer un Thème</div>
        <div class="textContent">
            <p>
                L'interface de base de Wakfu étant très datée, la plupart des joueurs récurrents installent un thème.<br>
                Les thèmes d'interface sont créés par la communauté.
                Pour en savoir plus quant à comment installer un thème, je vous redirige vers le post d'Ankama à ce sujet :
                    <a href="https://www.wakfu.com/fr/forum/514-themes-personnalises/425922-installation-creation-themes-interface-personnalises" target="_blank" rel="noopener noreferrer"> Installation et création de themes d'interface personnalisés</a>.
                Libre à vous de regarder les différents thèmes proposés sur le forum et  de choisir un qui vous plait. <br>
                Notez cependant que les thèmes sont proposés par d'autres joueurs, et qu'il n'est donc pas certain qu'ils soient maintenus à jour.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Thème d'Ymoka</div>
        <div class="textContent">
            <p>
                Le thème le plus populaire (qui est celui que j'utilise en stream) est celui créé par le streamer <a href="https://www.twitch.tv/ymoka" target="_blank" rel="noopener noreferrer">Ymoka</a> .<br>
                Vous trouverez le lien vers son thème <a href="https://ymoka.fr/" target="_blank" rel="noopener noreferrer"> ici sur son site</a> ou <a href="https://www.wakfu.com/fr/forum/514-themes-personnalises/428367-theme-1-83-ymoka-nuit-mystique" target="_blank" rel="noopener noreferrer"> ici sur le forum </a>.<br>
            </p>
        </div>
    </div>
</div>