
<div class="container">
    <h2 class="text-center"> Lv 80 </h2>
    <h5 class="text-center"> Tout le monde est toujours un dpt, mais on peut commencer à se spécialiser </h5>

    <div class="textcontentContainer">
        <div class="textContentTitle">Préface</div>
        <div class="textContent">
            <p> 
                Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins;
                le xel aimera par exemple les PO alors que l'elio n'en a pas besoin. N'hésitez pas à adapter selon vos besoins !
            </p>
            <p>
                Au niveau 80, on peut continuer à tout jouer DPT si on souhaite, mais il est grandement conseillé de <b>commencer à se spécialiser</b> dans différents rôles (Support / Tank / DPT).
                Les mobs et les mécaniques deviennent plus dangereuses, et la plupart des classes ont accès à la majorité de leurs kits de sorts.
             </p>
             <p>
                De façon simplifiée :
             </p>

             <h3> Pour les supports "tanks placement"</h3>
             <ul>
                <li> <b>Pandawa</b> (Tank + placeur)</li>
                <ul>
                    <li>Le panda peut jouer Tank + placeur; son rôle sera alors de placer les mobs de façon pratique pour les DPT, par exemple : </li>
                        <ul>
                            <li>Faire des "packs" de mobs en zone pour que son Cra puisse Fleche Explo dessus</li>
                            <li>Prendre les mobs proche des DPT et les envoyer au loin pour les protéger</li>
                        </ul>
                </ul>
                <li> <b>Sacrieur</b> (Tank + placeur)</li>
                <ul>
                    <ul>
                        <li>Faire des "packs" de mobs en zone pour que son Cra puisse Fleche Explo dessus (Porter/Jeter, Triple Karma Leet)</li>
                        <li>Tacler les mobs et les attirer/garder loin des DPT (Tonneau+ Frappe Fût)</li>
                    </ul>
                </ul>
               
             </ul>

             <h3> Pour les supports "tanks soutien"</h3>
             <ul>
                <li> <b>Osamodas</b> (Tank + shield aliés + buff aliés + debuff mobs + placeur) </li>
                <ul>
                    <li>Shield les aliés (<b>prendre le passif "Dévouement animal"</b> pour mettre du shield avec les sorts terre)</li>
                    <li>Buff les aliés (Piqure motivante, Invocations type piou rouge)</li>
                    <li>Debuff les resistances des ennemis ("Cri Affaiblissant")</li>
                    <li>Forcer les ennemis à être tournés dos aux DPT avec le sort "Déplumage"</li>
                </ul>
                <li> <b>Feca</b> (Tank + Shield aliés + Buff aliés mêlée + placeur) </li>
                <ul>
                    <li>Shield les aliés</li>
                    <li>SI on a un DPT mêlée => lui donner le sort Bâton pour le buff, quand il proche des mobs</li>
                    <li>Replacer les aliés (Frappe Tellurique) </li>
                    <li>Replacer les mobs (Avalanche)</li>
                </ul>
                <li> <b>Zobal</b> (Tank + Shield (+heal) + buff aliés + placeur + debuff mobs)</li>
                <ul>
                    <li>Shield les aliés (Armature, Cabriole, )</li>
                    <li>Buff les aliés (Masque, Détraquage)</li>
                    <li>Replacer les aliés et les mobs (Les sorts airs : Dislocation, Poursuite, Cavalcade, ... ) </li>
                    <li>Soigner les aliés (Signe, Rescousse, Sarabande)</li>
                    <li>Donner le dos des mobs aux DPT (Coup de pied fouetté)</li>
                </ul>
             </ul>

             <h3> Pour les supports "full soutien"</h3>
             <ul>
                <li><b>Enirispa</b></li>
                <ul>
                    <li>Heal les aliés (Sorts eau + les marques)</li>
                    <li>Buff les aliés (Revitalisation, Flamme Purificatrice, Lien d'amitié)</li>
                    <li>Debuff les résistances des boss (Lapino quand invoqué lorsque l'eni est en mode Contre Nature)</li>
                </ul>
                <li><b>Sadida</b></li>
                <ul>
                    <li>Heal les aliés</li>
                    <li>Shield les aliés</li>
                    <li>Retirer des résistances aux mobs (Coup de froid , Voodool sur les boss)</li>
                </ul>
             </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Rappel important</div>
        <div class="textContent">
                <ul>
                    <li><b>L'enchantement de votre stuff est tout aussi important que les items</b>. La moité de vos stats proviennent de là.</li>
                    <li>Tous les donjons sont faisables avec un stuff orange, les épiques et reliques donnent surtout + de PA/PM/PO.</li>
                    
                    <ul>
                        <li>La sublimation "Expert des armes légères" est de l'optimisation, et ne doit être considérée qu'après avoir obtenu votre stuff et l'avoir enchanté correctement (de préférence avec les couleurs en prévision des sublimations à poser dans le futur).</li>
                    </ul>
                </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">DTP distance</div>
        <div class="textContent">
        <p>
            <img src="https://i.imgur.com/bF86DHT.png" alt="build DPT dist 80"> <br>
        Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/57594"> Build DTP Lv 80</a>
        </p>
        <p>
            Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
        </p>
        <p>
            Notes :
        </p>
        <ul>
            <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement. 
                Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
            <li>L'<b>Insangsé</b> est également une très bonne relique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            <li>La Toxipikante est un cac 1PA et une main. Ceci permet par le suite d'utiliser la sublimation Expert des armes légères.</li>
        </ul>
        
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">DTP mêlée</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/mblzT1A.png" alt="build DPT mêlée 80"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/20d63"> Build DTP Lv 80</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement. 
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne relique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
                <li>La Toxipikante est un cac 1PA et une main. Ceci permet par le suite d'utiliser la sublimation Expert des armes légères.</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Supports tank</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/AM2wWBT.png" alt="build support tank 80"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/30c88"> Build support tank Lv 80</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement, cependant sur un support tank vous pouvez vous en passer si les kamas vous font défaut.
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne relique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
                <li>On prend la la Truche Blood car c'est un cac 1PA et 1PW. Cela permet de prendre un bouclier au choix en fonction des besoins de votre personnage.</li>
                <ul>
                    <li>Un panda n'ayant pas trop besoin de PW, on prend un bouclier "Le Residu" pour plus de tankiness</li>
                    <li>Un Osa ayant besoin de beacoup de PW, , on prend un bouclier "Bougligli" pour 1 PW supplémentaire</li>
                </ul>
                <li>Un Osa ayant besoin de beacoup de PW, on prend une emblème "Emblème de la canopée"</li>
            </ul>
            <p>
                Adaptez les items PW en fonction des besoins de votre classe.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Supports soin</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/1dfVvBX.png" alt="build healer 80"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/195d5"> Build healer Lv 80</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il s'agit d'un build relativement cher, mais néanmoins sans sublimations chères.
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement. 
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne relique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
                <li>La Toxipikante est un cac 1PA et une main, ce qui permet une flexibilité sur l'item qu'on équipe en seconde main. Notez que Expert des armes légères peut "remplacer" le bouclier si les kamas ne sont pas un soucis.</li>
            </ul>
        </div>
    </div>
    
    <div class="textcontentContainer">
        <div class="textContentTitle">Les items <span style="color:var(--violet)"><b>Epiques</b></span> et <span style="color:var(--mauve);background-color: rgba(255,255,255,60%); border-radius: 0.3rem; padding:0.2rem;"><b>Reliques</b></span></div>
        <div class="textContent">
            <p>
                <b>NOTE</b> : à partir de maintenant et jusqu'au niveau 200, pour éviter de vous ruiner et pour vous simplifier la vie, vous pouvez vous contenter d'équiper un Gelano + Anneau Insangsé.
            </p>
            <ul>
                <li> (épaulettes) Les <span style="color:var(--mauve)"><b>Galons Fred</b></span> - Bonne relique distance.</li>
                <li> (ceinture) La <span style="color:var(--mauve)"><b>Ceinture Rasboulaire du Rasboul</b></span> - Bonnes stats offensives.</li>
                <li> (bottes) Les <span style="color:var(--mauve)"><b>Bottes Anti-UC</b></span> - Bonnes stats. <b>NOTE</b> : Ces bottes donnent 1PA mais pas de PM.</li>
            </ul>

            Concernant les items <span style="color:var(--violet)"><b>Epiques</b></span>
            <ul>
                <li> (casque) Le <span style="color:var(--violet)"><b>Heaume de Soudeur</b></span> - Coiffe PA</li>
            </ul>
            
            
        </div>
    </div>
</div>
