
.preview-cards-home{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.preview-cards-home a{
    text-decoration: none;
}

.card{
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow : hidden;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title-decoration{
    min-height : 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-title{
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body{
    background-color: white;
}

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
}