
<div class="container">
    <h2 class="text-center">Les brèches</h2>
    
    <div class="textcontentContainer">
        <div class="textContentTitle">C'est quoi une brèche ?</div>
        <div class="textContent">
            <p>
                Simplement, une brèche est un combat à vagues de 40 tours exactement (le combat se finit de lui-même à la fin du tour 39 des mobs), avec quelques ajouts pour pimenter.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les vagues</div>
        <div class="textContent">
            <p>
                Une vague est l'ensemble des mobs qui spawn en même temps dans le combat.
            </p>
            <p>
                Par exemple 4 mobs spawn au début du combat, il s'agit de la "vague 1".
                Une fois que vous vous êtes débarrassé de ceux-ci, 4 nouveaux mobs spawn dans le combat, c'est la "vague" suivante.
            </p>
            <p>
                En théorie il n'y a pas de limite au nombre de vagues, si ce n'est votre capacité à tuer les mobs rapidement (avant le début du tour 40).
                Notez que les mobs gagnent en hp, dégats et parfois pm en fonction du nombre de vagues réalisées. Ainsi un mob à la vague 10 aura peut-être 3x plus d'HP que le même mob à la vague 1.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Vague intiale et modulation des mobs</div>
        <div class="textContent">
            <p>
                Comme mentionné plus tôt, les mobs deviennent plus forts en fonction de l'avancement dans le combat en terme de vagues (la vague 3 est plus dure que la 2, qui est plus dure que la 1, etc.)
                Ce système est également utilisé comme une sorte de modulation des mobs à votre niveau lorsque vous lancez la brêche.
                Par exemple, si vous lancez la brèche d'Astrub (normalement une brèche de lv 21), mais que vous êtes, disons lv140, vous commencerez directement à un vague plus avancée, par exemple la vague 15.
            </p>
            <p>
                Ceci a plusieurs effets:
            </p>
            <ul>
                <li>Les mobs sont relativement équilibrés par rapport à votre niveau, peu importe la brèche</li>
                <li>Comme l'xp et le drop dépendent de la vague courante, lancer une brèche en étant beaucoup plus haut en niveau que le niveau de la brèche permet d'avoir un gros bonus d'xp/drop. Par exemple au lv150 à la brèche d'astrub, on commence avec environ +600% d'xp et de drop, au tour 1.</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Le bonus xp/drop</div>
        <div class="textContent">
            <p>
                Pour chaque vague de réalisée après la première, vous obtenez un bonus de +8% d'xp et de drop en fin de combat.
                Il est donc intéressant de finir à une vague élevée. (cf ci-dessus, la modulation des mobs)
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les artefacts</div>
        <div class="textContent">
            <p>
                Un artefact est une sorte de buff qui affecte le reste du combat. Il y a tout un tas d'artefacts, mais il y a principalement deux catégories:
            <p>
            <ul>
                <li>Les artefacts qui donnent des stats bonus (dégâts mélée, dégâts distance, esquive, volonté, ...)</li>
                <li>Les artefacts "légendaires", qui sont des objets qui donnent des passifs variés, comme par exemple :</li>
                <ul>
                    <li>Bonus de +20% de dégâts sur le premier coup, mais malus de -20% sur les suivants</li>
                    <li>Soin lorsqu'on perd des pm</li>
                    <li>Gain d'armure lorsqu'on finit au Cac</li>
                    <li>etc.</li>
                </ul>
                    Ceux-ci ont le potentiel d'impacter fortement votre run de brèche (en bien autant qu'en mal).
            </ul>
            <p>
                Au début de chaque vague, deux artefacts apparaissent sur deux cases aléatoires de la map; ces artefacts peuvent être ramasser en marchant sur leur case, ce qui vous cotroie leurs effets pour la durée du combat.
                Il y a deux choses à garder en tête :
            </p>
            <ul>
                <li><b>L'artefact que vous ne choisissez pas est donné aux mobs</b>. Ainsi vous ne choisissez pas seulement ce que vous préférez prendre, mais également ce que vous préférez ne pas donner aux mobs</li>
                <li><b>Si vous ne prenez aucun des deux artefacts</b> avant de tuer la vague courante, <b>vous en recevrez un des deux aléatoirement</b> au moment du spawn de la vague suivante (juste après le spawn de la vague, pour être précis).</li>
            </ul>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les orbes</div>
        <div class="textContent">
            <p>
                Lorsque vous tuez un mob, celui-ci lâche un orbe d'une certaine couleur. Cet orbe peut être ramassé pour déclencher un effet bonus, et reste sur la map pendant 1 tour de jeu.
            </p>
            <ul>
                <li>orbe vert : donne de l'armure</li>
                <li>orbe jaune : heal le joueur</li>
                <li>orbe bleu : diminue votre résistance au soin</li>
                <li>orbe rouge : explose autour de vous en faisant des dégâts lumière en zone carré</li>
            </ul>
                <h6> <b>RAPPEL</b> : la resistance soin.</h6>
            <p>
                Cette mécanique s'applique pour tous les combats du jeu pas seulement pour la brèche; il s'agit d'une mécanique souvent inconnue des joueurs car peu impactante sur le contenu classique.<br>
                Dans Wakfu les heals sur un personnage augmentent sa résistance au soin. Ainsi, si vous vous soignez plusieurs fois dans un combat, vos soins deviendront de moins en moins efficaces.
                Evidemment dans un combat de 5 tours, cela ne se ressent pas. Cependant en brèche les combats font 40 tours! Il n'est donc pas rare de se retrouver au tour 30 avec 70% de resistance soin, par exemple en sram (qui se heal sur chaque mob tué). 
                Pour les classes qui se retrouvent particulièrement affectées par ceci, il faudra se focus sur la collecte des globes bleu droppés par les mobs à leur mort.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Bonus de brèche</div>
        <div class="textContent">
            <p>
                Les brèches peuvent se faire avec jusqu'à 4 personnes, cependant elles seraient très difficiles en tant normal pour une personne seule. 
                Heureusement il existe une mécanique pour nous permettre de nous débrouiller seul ! 
                En effet, vous recevrez un buff en début de combat, dont la force évolue en fonction du nombre de personnages présents.
            </p>
            <ul>
                <li>1 perso: +9PA, +5PM, +1800% HP, +90% dégats, +270 resist elem, +90% soin</li>
                <li>2 persos : +6PA, +3PM, +1200% HP, +60% dégats, +180 resist elem, +60% soin</li>
                <li>3 persos :  +3PA, +1PM, +600% HP, +30% dégats; +90 resist elem, +30% soin</li>
                <li>4 persos : aucun boost</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Sublimations</div>
        <div class="textContent">
            <p>
                Les brèches étant des contenus un peu particuliers, qui durent plus de tours que le combat moyen, et demande de tuer beaucoup de mobs, certaines sublimations deviennent tout particulièrement intéressantes.
            </p>
            <ul>
                <li>(Tous) <b>Retour vital</b> - Soin de 20% des pv manquants en tuant un ennemi, 2x par tour</li>
                <li>(mêlée) <b>Retour enflammé</b> </li>
                <li>(Tous) <b>Influence lente</b> - Bonus de %crit chaque tour, jusqu'à +30% de crit</li>
            </ul>
            <p> Autres sublimations très chères :</p>
            <ul>
                <li>(Tous) <b>Retour d'armure</b></li>
                <li>(Tous) <b>Stasification</b></li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Voir aussi</div>
        <div class="textContent">
            <a href="https://methodwakfu.com/pvm/les-breches-dimensionnelles/">Page MethodWakfu dédiée aux brèches </a>
        </div>
    </div>

</div>