
<div class="container">
    <div class="content">
       <p>
            Dev et streamer amateur ! (Normalement seulement un des deux, même si on dirait pas) <br>
            <br>
            Si le site t'a aidé n'hésite pas à passer dire bonjour sur le live sur <a href="https://www.twitch.tv/aekami"> Twitch </a> ! <br>

            Si tu as des suggestions, remarques, ou questions, n'hésite pas à passer sur le <a href="https://discord.gg/49EaCMrYsY"> Discord </a> ! <br>
            <br>
            Le site étant un projet sur le côté quand j'ai le temps, je ne peux pas malheureusement pas garantir de tout faire (ou de faire rapidement). <br>
            Si tu es dev et que tu souhaites contribuer, tu peux m'en parler sur Discord ! <br>
            Si tu es un joueur expérimenté et souhaites contribuer avec un article ou stuff, même chose, on peut en discuter sur Discord !
        </p>
    </div>
</div>