
<div class="container">
    <div class="textcontentContainer">
        <div class="textContentTitle">About me</div>
        <div class="textContent">
            <p>
                Je suis Aekami, dev et streamer amateur ! (Normalement seulement un des deux, même si on dirait pas)
            </p>
            <p>
                J'ai créé le site pour avoir un endroit destiné aux nouveaux (et moins nouveaux) joueurs, avec pour but d'expliquer et de rendre plus accessible le jeu Wakfu !
                Ceci passe par l'explication de mécaniques que jeu, de conseils en vracs, ou encore de recommendations de stuffs !
            </p>
            <p>
                Le site étant un projet sur le côté quand j'ai le temps, je ne peux malheureusement pas garantir de tout faire (ou de faire rapidement).
            </p>

            <div class="container-alternative-items">
                @for (item of mediaItems; track item) {
                    <app-item-tile-clickable
                        url= "{{ item.url }}"
                        itemName="{{ item.itemName }}"
                        imageUrl="{{ item.imageUrl }}"
                        imageAlt="{{ item.imageAlt }}"
                        itemDesc="{{ item.itemDesc }}">
                    </app-item-tile-clickable>
                }
            </div>
            
        </div>
    </div>
</div>