
<div class="container">
    <h2 class="text-center"> Les bases de l'Eni </h2>
    <div class="difficulty-container">
        <div class="difficulty-tile text-center">
            <div class="difficulty-tile-title"> Prise en main ("Skill floor") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                    <div class="star-full"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="difficulty-written"> (1/5) facile </div>
                </div> 
        </div>
        <div class="difficulty-tile text-center"> 
            <div class="difficulty-tile-title"> Complexité ("Skill ceiling") </div>
            <div class="difficulty-rating">
            <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (1/5) facile </div>
            </div> 
        </div>

    </div>
    

    <div class="textcontentContainer">
        <div class="textContentTitle"> Mécaniques spécifiques de la classe </div>
        <div class="textContent">
            <p> L'Eni est une classe centrée sur le soin, et le soutien aux aliés, mais également capable de mettre des dégats quand il le souhaite.</p>
            <p>
                Les mécaniques de classes principales sont les suivantes :
            </p>
            <ul>
                <li> La gestion du passif "Propagateur" </li>
                <li> L'état contre-nature </li>
            </ul>
            Et les mécaniques secondaires : 
            <ul>
                <li> Le lapino </li>
                <li> Les sorts sont améliorés lorsque l'eni a + de 80% de ses points de vies.</li>
                <li> Passivement, l'eni augmente les pv totaux de ses aliés </li>
            </ul>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Le Propagateur </div>
        <div class="textContent">

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Etat contre-nature </div>
        <div class="textContent">

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Le lapino </div>
        <div class="textContent">

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Récupération de PW </div>
        <div class="textContent">
            <p> La façon dont les enis récupèrent des PW est : </p>
            <ul>
                <li> Passivement en fin de tour, les enis regagnent 1PW</li>
                <ul>
                    <li> Et regagnent encore 2PW de + si ils ont + de 80% de leurs points de vie</li>
                </ul>
            </ul>
        </div>
    </div>




</div>