
<div class="container">
    <h2 class="text-center">L'enchantement </h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Ce que c'est</div>
        <div class="textContent">
            <p>
                L'enchantement est un système permettant d'une part d'ajouter des caractéristiques à un item, et de l'autre d'ajout des effets divers.
            </p>
            <p>
                En simple : cela rend les items + puissants.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les runes (aussi appelées "chasses")</div>
        <div class="textContent">

            <ul>
                <li>Un item peut avoir jusqu'à 4 runes.</li>
            </ul>
            <ul> 
                Lors de la création de l'item, celui-ci aura aléatoirement entre 1 et 4 runes.
                Si votre item n'a pas 4 runes, il est possible d'en ajouter jusqu'a en avoir 4 en sacrifiant (détruisant) un item de même nom et de même rareté à un autel d'enchantement.
            </ul>
            <ul>
                <li> Chaque rune peut être d'une couleur parmis 4. </li>
                <li> Chaque couleur permet d'ajouter certaines caractéristiques que seule cette couleur peut donner. </li>
            </ul>
            <div class="runesContainer">
                <div class="rune rune-red">
                    <div class="rune-title"> Rouge </div>
                    <span class="rune-visual"> <img src={{rune_red}} alt="red rune"> </span>
                    <div class="rune-descr">
                        <ul>
                            <li>Maitrise mêlée</li>
                            <li>Maitrise Distance</li>
                            <li>Maitrise Berserk</li>
                            <li>Résistance Terre</li> 
                        </ul>
                    </div>
                </div>

                <div class="rune rune-blue">
                    <div class="rune-title"> Bleue </div>
                    <span class="rune-visual"> <img src={{rune_blue}} alt="blue rune"></span>
                    <div class="rune-descr">
                        <ul>
                            <li>Tacle</li>
                            <li>Resistance Eau</li>
                            <li>Résistance Air</li>
                            <li>Vie</li>
                            <li>Maitrise Soin</li>
                            <li>Maitrise elementaire</li>
                        </ul>
                    </div>
                </div>
                <div class="rune rune-green">
                    <div class="rune-title"> Verte </div>
                    <span class="rune-visual"> <img src={{rune_green}} alt="green rune"></span>
                    <div class="rune-descr">
                        <ul>
                            <li>Maitrise Critique</li>
                            <li>Maitrise Dos</li>
                            <li>Esquive</li>
                            <li>Initiative</li>
                            <li>Resistance Feu</li>
                        </ul>
                    </div>
                </div>
                <div class="rune rune-yellow">
                    <div class="rune-title"> Jaune </div>
                    <span class="rune-visual"> <img src={{rune_yellow}} alt="yellow rune"></span>
                    <div class="rune-descr">
                        <ul>
                            <li>Toutes les stats des autres runes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <p>
                La rune <span > <img src={{rune_yellow}} style="max-width: 2rem;" alt="yellow rune"></span>  jaune est un peu spéciale et est plus rare que les autres; en effet, il s'agit d'une rune "Joker", pouvant utiliser n'importe quelle statistique des autres runes.
            </p>
            <p>
                Lorsque les joueurs parlent des runes, il utilisent souvent des abréviations. Par exemple, un item qui aurait, dans l'ordre, des chasses "rouge, rouge, jaune, bleue" serait décrit comme étant un item "RRJB"
            </p>
            <ul>
                <li><span > <img src={{rune_red}} style="max-width: 2rem;" alt="red rune"></span> R => rouge </li>
                <li><span > <img src={{rune_blue}} style="max-width: 2rem;" alt="blue rune"></span> B => bleue </li>
                <li><span > <img src={{rune_green}} style="max-width: 2rem;" alt="green rune"></span> V => vert </li>
                <li><span > <img src={{rune_yellow}} style="max-width: 2rem;" alt="yellow rune"></span> J => jaune </li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">En pratique - Comment enchanter ses items</div>
        <div class="textContent">
            <p>
                Enchanter un item demande de sacrifier un autre item de la même sorte (par exemple, pour améliorer une coiffe bouftou verte, je dois sacrifier une autre coiffe bouftou verte). 
                La couleur de l'item doit également être la même.
            </p>
            <p>
                Une fois que vous avec vos items, rendez-vous à l'une des stations d'enchantement. Celles-ci existent dans toutes les grandes villes du jeu (Astrub, Amakna, Sufokia, Bonta, Brakmar).
            </p>
            <p>
                Enchantez votre item :                
            </p>
            <h6>Obtenez 4 runes</h6>
            <ol>
                <li> Selectionnez votre item (drag and drop dans le cadre, ou à travers le menu) </li>
                <li> On clique sur l'onglet "Nombre" (Le 2eme onglet)</li>
                <li> On clique sur l'onglet "Choisir", et on choisit l'item que l'on va sacrifier (détruire) afin de tenter d'amléiorer notre item</li>
                <li> On clique sur "sacrifier l'objet", et on obtient 6 charges (visibles en haut à droit de notre item)</li>
                <li> On peut maintenant cliquer sur "utiliser une charge" pour consomer une des charge et tenter de rajouter une nouvelle rune. Ceci n'est pas garanti, il vous faudra un peu de chance, mais ce n'est pas non plus trop rare</li>
                <li> On continue ceci jusqu'à obtenir 4 runes sur notre item</li>
            </ol>

            <h6>Changez les couleurs des runes</h6>
            <ol>
                <li> On clique sur l'onglet "Couleurs" (le 3eme onglet) </li>
                <li> On clique sur "utiliser une charge", ce qui a pour effet de changer aléatoirement la couleurs des 4 runes</li>
                <ul>
                    <li> Le but est donc d'obtenir des runes qui nous conviennent</li>
                    <li> <b>NOTE</b> : Si vous débutez, vous pouvez considérer que 3 rouges + 1 autre est un "bon" jet.</li>
                </ul>
            </ol>

            <h6>Ajoutez les statitistiques bonus</h6>
            <ol>
                <li> On clique sur l'onglet "Effets" (le 1er onglet)</li>
                <li> On clique sur "choisir un effet", et on choisit la caractéristique souhaitée parmi la liste</li>
                <ul>
                    <b> NOTE</b> :
                    <li> Au début, contentez vous d'ajouter</li>
                    <ul>
                        <li> Pour les runes rouges : de la maitrise mêlée ou distance (en fonction de votre gameplay)</li>
                        <li> Pour les runes bleues : de la maitrise élémentaire </li>
                        <li> Pour les runes vertes : de la maitrise critique ou de l'esquive, au choix</li>
                    </ul>
                </ul>
            </ol>
            <p>
                <b>NOTE </b>: certaines caractéristiques sont doublées sur certains items. 
                Par exemple les runes rouges avec de la maitrise distance sont doublées sur les corps-à-corps, ou encore les runes bleu maitrise élémentaire sont doublées sur les plastrons et les cape.
            </p>
            <p>
                Voilà, vous êtes a présent propriétaire de votre bel item enchanté !
            </p>
            
            <div class="container-alternative-items">
                <app-alternative-item
                    itemName="Exemple"
                    imageUrl="{{imgExLardanteUrl}}"
                    imageAlt="enchanting example"
                    itemDesc="Le plastron a 49 stats de base, et 56 (4x14) stats bonus d'enchantement. On a doublé ses stats !">
                </app-alternative-item>
            </div>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les sublimations</div>
        <div class="textContent">
            <p> Les sublimations sont des sortes de parchemins qu'il est possible de sacrifier sur un item afin de lui ajouter des effets spécifiques </p>
            <p>
                Par exemple, la sublimation "retour vital" permet de donner à un item l'effet "soigne de 10% des points de vie lorsqu'on tue un monstre".
            </p>
            <p>
                Certaines sublimations sont plus génériques (comme retour vital), alors que d'autres peuvent fortement changer le gameplay.
            </p>
            <p>
                Afin d'appliquer ces sublimations à un item, il faut que celui-ci ait une suite de runes de certaines couleurs, dans un certain ordre. L'ordre et les couleurs sont différents pour chaque sublimation (et sont indiquées sur la sublimation).
            </p>
            <p>
                Si vous débutez le jeu, je vous conseille de ne pas vous préoccuper des sublimations au début (voire jusqu'au lv 110 mini). Il s'agit de la <b>dernière</b> étape lorsqu'on souhaite s'optimiser à une tranche de niveau.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Conseils</div>
        <div class="textContent">
            Si vous débutez :
            <ul>
                <li>Enchantez vos items avec 3 runes rouges, et 1 rune en +. L'idée serait 4 rouges, mais la différence est minime, pas la peine de dépenser des sommes colossales.</li>
                <li>Ne vous préoccupez pas des builds "optis" avec pleins de sublimations, un stuff correct (comme ceux du site) permettent de clear tout le contenu sans problème.</li>
                <li>Il vaut mieux <b>de loin</b> être stuff avec des items oranges en 4 chasses qu'avec des items jaunes mais ne pas pouvoir les enchanter à cause de leur prix.</li>
            </ul>
        </div>
    </div>
</div>