
<div class="container">
    <h2 class="text-center">L'enchantement </h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Ce que c'est</div>
        <div class="textContent">
            <p> Coming soon ™ </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les runes ("chasses)</div>
        <div class="textContent">
            <p> Coming soon ™ </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">En pratique</div>
        <div class="textContent">
            <p> Coming soon ™ </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les sublimations</div>
        <div class="textContent">
            <p> Coming soon ™ </p>
        </div>
    </div>

</div>