
<div class="container">
    <h2 class="text-center"> Les bases de l'Eca </h2>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Mécaniques spécifiques de la classe </div>
        <div class="textContent">
            <p> L'Ecaflip possède diverses mécaniques et synergies liées au hasard.</p>
            <p>
                Il existe une mécanique de classes principale :
            </p>
            <ul>
                <li> Les cartes de Tarot et la défausse </li>
            </ul>
            Ainsi qu'une mécanique secondaire : 
            <ul>
                <li> La Veine </li>
            </ul>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Les cartes de Tarot</div>
        <div class="textContent">
            <p> L'écaflip possède dans sa 3eme barre de sorts 3 sorts symbolisant 3 cartes qu'il tire de son deck de tarot.
            Ces 3 sorts sont choisis aléatoirement parmis 7 "cartes" de son deck de tarot.</p>
            <ul>
                <li>Vous pouvez utiliser ces sorts ou les défausser avec le sort Relance, pour en tirer 3 autres.</li>
                <ul><li>Une fois que toutes les cartes ont été tirées (tous les sorts joués ou défaussés), le tarot se remplit à nouveau, et trois cartes sont à nouveau tirées.</li></ul>
            </ul>
            <p> Les effets de ces cartes sont extrêmement variés, à vous de les lire et de jouer autours de vos favoris</p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> La Veine</div>
        <div class="textContent">
            <p> La veine est jauge qui augment sous certaines conditions (jouer les cartes de tarots, certains passifs, etc.). Le niveau max de veine est de 100.</p>
            <p> Si la veine atteint 100: </p>
            <ul>
                <li> La prochaine carte tirée coute 1PW de moins et voit son effet doublé </li>
            </ul>

            <p> Sans passif précis, la Veine augmente de 7 par carte jouée, et passifvement de 20 en fin de tour.</p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Les bonus de coup critique</div>
        <div class="textContent">
            <p> L'ecaflip a pleins de façon de gagner ou de booster en coup critique.</p>
            <ul>
                <li> Il gagne passivement 20% de CC (permanents) au début des combats</li>
                <li> Si il a plus de 100% de CC, les CC "en trop" sont convertis en bonus de dégats en %. (2CC = 1%)</li>
            </ul>
        </div>
    </div>


</div>