
<div class="container">
    <h2 class="text-center"> Les bases de l'Ougi </h2>

    <div class="difficulty-container">
        <div class="difficulty-tile text-center">
            <div class="difficulty-tile-title"> Prise en main ("Skill floor") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (1/5) facile </div>
            </div> 
        </div>
        <div class="difficulty-tile text-center"> 
            <div class="difficulty-tile-title"> Complexité ("Skill ceiling") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (2/5) facile </div>
            </div>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Mécaniques spécifiques de la classe </div>
        <div class="textContent">
            <p> Il existe une mécanique de classes principale : </p>
            <ul>
                <li> La Proie </li>
                <ul>
                    <li> Et sa jauge de Rage </li>
                    <li> Et la transformation en <b> Ougi-garou</b> qui lui est associée</li>
                </ul>
            </ul>
            <p> Ainsi que deux mécaniques secondaires : </p>
            <ul>
                <li> Le chienchien (invocation de l'ouginak)</li>
                <li> Les poisons et dégats indirects (plus tard à partir du lvl 90) </li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> La Proie </div>
        <div class="textContent">
            <p> L'ouginak possède un sort "Proie" dans sa 3eme barre de sorts. </p>
            <p> Le sort proie : </p>
            <ul>
                <li> Peut être lancé sur un ennemi</li>
                <ul> 
                    <li> Ceci a pour effet de marquer cet ennemi</li>
                </ul>
            </ul>
            <p> Si l'ouginak tape tape au moins une fois l'ennemi qu'il a marqué avec la proie, alors <b>à la fin de son tour</b> il gagne 15 points de Rage.</p>
            <p> Ces points de rage peuvent être utilisés pour se transformer en <b>ougi-garou</b> .</p>          
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> L'Ougi-garou </div>
        <div class="textContent">
            <p> L'ouginak possède un sort "Ougigarou" dans sa 3eme barre de sorts. </p>
            <p> Le sort est lançable sur lui-même si il possède des points de Rage. </p>
            <p> En Ougigarou :</p>
            <ul>
                <li> <b> +50% de dégats infligés </b> (tant que l'ougi reste transformé) </li>
                <li> les sorts consomment 1 point de rage par PA/PM/PW utilisé</li>
                <ul>
                    <li> Ex : si vous avez 15 points de rage, et que vous lancez 2 sorts à 4 PA chacun, vous êtes à 15-8 = 7 points restants.</li>
                    <li> Si vous utilisez ensuite 7PA ou +, vous aurez consommé tous vos points de Rage, et vous vous dé-transformez.</li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Le chienchien </div>
        <div class="textContent">
            <p> L'ouginak possède un sort "Chienchien" dans sa 3eme barre de sorts. </p>
            <p> Le sort lui permet d'invoquer un Chienchien, lequel possède quelques sorts de base, mais surtout copie les sorts de l'ougi qui coutent des PW. </p>
            <p> Ceci est très pratique car :</p>
            <ul>
                <li> Quand le chienchien lance un sort à PW, celà coute des PW au chienchien et non à l'ougi. C'est donc une économie de PW.</li>
                <li> Les sorts à PW sont des sorts potentiellement très impactants (ex : Bastonnage) </li>
                <ul> <li> Le chienchien peut d'ailleurs placer un Bastonnade, ce qui permet au prochain tour de l'ougi de directement taper lui aussi avec Bastonnage. Très bon combo à bas niveau.</li></ul>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Récupération de PW </div>
        <div class="textContent">
            <p> La façon dont les ougis récupèrent des PW est : </p>
            <ul>
                <li> +100% de leurs PW à chaque fois qu'ils se dé-transforment.</li>
                <ul><li>Autrement dit, récupèrent tous leurs PW quand ils passent de Ougigarou à Ougi, après avoir s'être transformé et avoir utilisé tous les points de rage en utilisant des PA/PM/PW.</li></ul>
            </ul>
        </div>
    </div>
</div>