<div class="container">

    <h2 class="text-center">La modulation</h2>
    <h5 class="text-center">Ce que c'est, pourquoi se moduler, comment se moduler</h5>

    <div class="textcontentContainer">
        <div class="textContentTitle">Qu'est ce que la modulation ?</div>
        <div class="textContent">
            <p>
                La modulation est un système permettant de diminuer temporairement le niveau de son personnage.
                Par exemple je peux prendre mon personnage niveau 200 et choisir de le diminuer au niveau 50 le temps de faire un donjon niveau 50.
            </p>
            <p>
                Petit apparté jargon : quand on parle d'un certain niveau, on parle de <b>paliers</b> de modulation. 
                De ce fait, lorsqu'on parle des donjons d'un certain palier, on parle de tous les donjons faisables à cette tranche de niveaux. Par exemple : 
            </p>
            <ul>
                <li>Le donjon Bouftou est un donjon de niveau 11, et peut être fait jusqu'au niveau 20. C'est donc un donjon de la tranche de niveau 20.</li>
                <li>Le donjon Moogr est un donjon niveau 36, faisable jusqu'au niveau 50, et est donc un donjon de la tranche 50.</li>
                <ul><li> Notez donc qu'on ne parle pas du niveau pour entrer dans le donjon (36), mais bien du niveau max auquel le donjon peut être fait (50).</li></ul>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Pourquoi se moduler ?</div>
        <div class="textContent">
            <p>
                Lorsque vous entrez dans un donjon, vous aurez remarqué que vous pouvez choisir une difficulté (le "Stasis").
                En fonction du niveau de difficulté choisi :
            </p>
            <ul>
                <li>Les mobs gagnent un bonus de PV et de dégats (ce qui rend le donjon plus difficile)</li>
                <li>Vous gagnez un bonus d'<b>xp</b> et de <b>drop</b> (que vous pouvez voir lorsque vous choisissez la difficulté du donjon)</li>
                <li>Au dessus du S5, de nouvelles mécaniques de donjon peuvent apparaitre</li>
            </ul>
            <h4>Note</h4>
            <p>
                Augmenter le niveau de stasis (la difficulté) du donjon peut également être fait sans se moduler, cependant si vous cochez la case "compétitif" et que vous faites le donjon en vous modulant à son niveau, vous obtenez de <b>beaucoup</b> plus gros bonus d'xp et de drop.
                Vous débloquez également la possibilité de drop une pierre de donjon, un drop rare assez cher, sur n'importe quel boss.
            </p>
            <h4>En résumé</h4>
            <ul>
                <li>se moduler = changer temporairement son niveau à un niveau choisi</li>
                <li>être modulé = bonus xp</li>
                <li>faire des donjons en modulé + stasis (difficulté accrue) = gros bonus xp et gros bonus drop</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Comment se moduler ?</div> 
    <div class="textContent">
        <h4>Prérequis</h4>
        <ul>
            <li> La modulation n'est pas accessible directement, en effet elle se débloque automatiquement lorsqu'au moins <b>un de vos personnages sur le serveur est niveau 51 ou plus</b>. </li>
            <ul>
                <li> Parfois il faut déco/reco pour que la fonctionnalité se débloque</li>
            </ul>
        </ul>

        <h4>En pratique</h4>
        <p>
            La modulation peut être séparée en deux parties
        </p>
        <ul>
            <li> Le changement de niveau en lui-même, ce qui inclu faire un deck de sorts/passif spécifiques </li>
            <li> Le fait d'équiper des items spécfiquement pour le niveau choisi</li>
        </ul>
        <p>
            Pour vous moduler :
        </p>
        
        <div style="border:1px solid orange; background-color: lightgoldenrodyellow;display: flex; width: fit-content;border-radius: 0.5rem;padding:0.5rem">
            Article en cours de rédaction suite au rework du système en février 2025. Un article plus complet arrivera plus tard.
        </div>
        <p>
            En résumé :
        </p>
        <ul>
            <li>Appuyez sur O </li>
            <li>Sur la gauche, créez ou sélectionnez une tranche de niveaux</li>
            <li>Cliquez sur l'onglet de sorts, choississez vos sorts et passifs</li>
            <li>Cliquez sur l'onglet de caractéristiques, répartissez comme vous souhaitez</li>
            <li>Dans l'onglet des items, choissisez et équippez ceux que vous souhaitez équiper pour la tranche</li>
            <ul> Notez que
                <li>Les items proposés sont ceux que votre perso OU vos héros possèdent dans leurs inventaires.</li>
                <li>Une fois équipés dans une page d'équipement, les items "disparaissent" de votre inventaire de perso. Pas d'inquiétude, ils sont toujours là, ils sont juste stockés dans l'inventaire de modulation.
                    Si vous allez sur une autre page de modulation, et que vous cliquez l'emplacement de l'item, vous verrez d'ailleurs que vous pouvez toujours ajouter l'item en question.
                </li>
            </ul>
            <ul>
                Egalement, à savoir :
                <li>Il y a un bouton permettant d'appliquer des filtres.</li>
                <li>Ceci permet par exemple de cacher tous les items qui ne sont pas équipables pour la tranche de niveau sélectionnée</li>
            </ul>
        </ul>

        </div>
    </div>
</div>