
<div class="container">
    <h2 class="text-center">Brèche de Tainela</h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Exemple placement</div>
        <div class="textContent">
            <p>Un exemple de placement où on restreint le spawn des mobs à 4 cases toujours les mêmes en cra</p>
            <img src="https://i.imgur.com/xYeNY1n.png">
            <p>
                Les deux balises du haut (le X jaune et le O rouge) bloquent 2 cases de spawn des mobs, et on se place soi-même sur une troisième (le coeur mauve).
            </p>
            <p>
                Les deux balises explo du bas (le carré bleu et la lune blanche) couvrent les 4 emplacements où les mobs peuvent spawn, ce qui permet d'explo-explo à leur spawn. Ou perçante. Ou autre.
            </p>
            <p>
                D'autres placements sont possibles, mais j'aime personnellement bien celui-ci
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Voir aussi</div>
        <div class="textContent">
            <a href="https://methodwakfu.com/pvm/breches/breche-dimensionnelle-tainela/">Page MethodWakfu sur la brèche de Tainela</a>
        </div>
    </div>
</div>