
<div class="container">
    <h2 class="text-center"> Les bases de l'osa </h2>

    <div class="difficulty-container">
        <div class="difficulty-tile text-center">
            <div class="difficulty-tile-title"> Prise en main ("Skill floor") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                    <div class="star-full"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="difficulty-written"> (1/5) facile </div>
                </div> 
        </div>
        <div class="difficulty-tile text-center"> 
            <div class="difficulty-tile-title"> Complexité ("Skill ceiling") </div>
            <div class="difficulty-rating">
            <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (3/5) modéré </div>
            </div> 
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Mécaniques spécifiques de la classe</div>
        <div class="textContent">
            <p>
                Il existe deux mécaniques de classes spécifiques à l'Osa :
            </p>
            <ul>
                <li>La capture et invocation de monstres</li>
                <li>La transformation en osa Forme Draconique</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Mécanique d'invocation</div>
        <div class="textContent">
            <p>
                Il vous faudra parcourir le monde des douze et de capturer au fur et à mesure les monstres qui vous intéressent. 
                Tous les monstres ne sont pas capturables, en effet seuls ceux qui ont un symbole "patoune" à côté de leur nom le sont.
            </p>
            <img src="https://i.imgur.com/ycmCc4C.png" alt="ex_capturable_osa"> Exemple de l'icone indiquant que le monstre (le "Tofu" ici est capturable)
            <p>
                Pour capturer un monstre il faut :
            </p>
            <ol>
                <li> Trouver un monstre capturable (le symbole patoune) </li>
                <li> Lancer le combat contre le monstre </li>
                <li> L'osamodas doit lancer le sort "Invocation" sur le mob qu'il désire capturer </li>
                <li> L'osamodas doit achever lui-même le monstre</li>
                <ul>
                    <li>Si tout s'est bien passé, une animation rapide de capture se joue au moment où le mob meurt</li>
                </ul>
            </ol>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Osa Draconique</div>
        <div class="textContent">
            <p>
                Il s'agit d'un gameplay qui ne se base plus tellement sur les invocations, mais permet à l'osamodas de se transformer et
                de pouvoir jouer un gameplay en mêlée avec de gros dégats autours de lui. Cet état transforme tous les sorts de l'Osa en sorts de mêlée lanceables sur soi-même, et qui font des dégats en zone tout autours de l'osa.
            </p>
            <p>
                Pour se transformer en Osa Draconique, il faut se cibler avec le sort "Forme draconique" en combat.
            </p>
            <!-- Todo : Add gif transfo osa -> draco -->
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Récupération de PW </div>
        <div class="textContent">
            <p> Les façons dont les osa récupèrent des PW sont : </p>
            <ul>
                <li> +1 PW passivement en fin de tour</li>
                <li> En retirant une invocation (en re-lançant le sort "invocation" sur une invocation précédemment invoqué)</li>
                <ul>
                    <li> + 3PW par tour que l'invocation a passée sur le terrain </li>
                </ul>
                <li> Il peut invoquer son <b>Gobgob</b>, lequel peut lancer le sort "nova" pour se sacrifier et rendre 3PW à son invocateur </li>
            </ul>
            <p> Il existe également un passif équipable </p>
            <ul>
                <li>"Don animal"</li>
                <ul><li> +1PW en début de tour si une invocation de l'osa est sur le terrain </li></ul>
            </ul>
        </div>
    </div>



</div>