
<div class="container">
    <h2 class="text-center"> Elio mêlée </h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Overview</div>
        <div class="textContent">
            <p>
                L'elio mêlée est un gameplay assez versatile permettant de :
            </p>
            <ul>
                <li>Détruire les mobs en zone</li>
                <li>Burst énormément un mob choisi (par exemple un boss)</li>
            </ul>
            <p>
                Son Gameplay se base principalement sur le fait de setup (placer portails, placer des "stacks" de sort, se boost, etc.) pour ensuite faire un gros tour "explosif" et tout détruire.
            </p>
            <p> note : Il est vivement conseillé de jouer Elio mêlée avec 13 PA. Ceci permet d'enchainer naturellement certains sorts, comme par exemple Cataclysme + 2 fois Seisme.</p>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les passifs</div>
        <div class="textContent">
            <p>
                L'elio mêlée n'a pas de passifs "indispensables", néanmoins il est fortement suggéré de jouer au moins :
            </p>
            <ul>
                <li>Rage</li>
                <li>Effervescence</li>
            </ul>
            
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les sorts</div>
        <div class="textContent">
            <p>
                L'elio mêlée se base sur un ensemble de sorts, dont les principaux sont :
            </p>
            <ul>
                <li>Cataclysme</li>
                <li>Seisme</li>
            </ul>
            <p>
                Ainsi que :
            </p>
            <ul>
                <li>Raclée</li>
                <li>Lame déchainée</li>
                <li>Targe</li>
                <li>Incandescence</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Le gameplay</div>
        <div class="textContent">
            <p>
                Trois situations peuvent se présenter
            </p>
            <ol>
                <li>Clean des mobs "faibles" T1 de façon rapide</li>
                <li>Clean des mobs T2 ou T3 (ex: en dj S5)</li>
                <li>Burst un boss (T3)</li>
            </ol>

            <h6>Clean de mobs faibles T1</h6>
            <p>
                De préférence on jouera avec un support placeur qui joue juste avant nous (ex : un Panda) dont le rôle sera de grouper les mobs autours d'une case. Ensuite on :
            </p>
            <ol>
                <li> Place nos deux portails, au cac de mobs si possible (pour proc le passif Rage) </li>
                <li> Place le glyphe de notre Cataclysme au milieu des mobs </li>
                <li> Passe en Exalté (ça nous tp sur le glyphe de Cataclysme et inflige des dégats autours) (Les portails infligent des dégats à leur cac gràce au passif Rage)</li>
                <li> On lance Séisme deux fois sur nous-même, ce qui inflige des dégats en zone autours de nous (même zone que Cataclysme)</li>
            </ol>

            <h6>Clean de mobs T2 ou T3</h6>
            <p>
                En général il s'agit d'une situation lorsqu'on est en donjon avec une équipe. De ce fait, le gameplay demande d'avoir des aliés.
                Le but est de faire le même setup que le clean T1, mais en profitant de plus de boost.
            </p> 
            <ol>
                <li> T1 : on place 2 portails, on peut placer des stacks de Séisme sur des mobs si possible. </li>
                <li> T2 : on place 2 portails de +, on place le Cataclysme sur une case en prévision du tour suivant</li>
                <li> T3 : les buffeurs buff l'elio (Baton du feca, Piqure de l'Osa, Revitalisation de l'Eni), les placeurs mettent les mobs autours du glyphe Cataclysme, puis l'elio joue :</li>
                <ol>
                    <li>Passe en exalté (ça le tp sur le glyphe Cataclysme et tape autours en zone mêlée, et proc Rage sur les portails)</li>
                    <li>Lance deux fois Seisme sur soi (tape en zone autours)</li>
                    <li>Utilise ses PA restant pour clear ce qu'il reste de mobs</li>
                    <b>Note</b> : On peut utiliser Coalition afin de retirer nos portails et gagner 2 PA pour le tour en cours, et 4 pour le tour suivant.
                </ol>
            </ol>

            <h6>Burst de Boss</h6>
            <p>
                En général il s'agit d'une situation lorsqu'on est en donjon avec une équipe. De ce fait, le gameplay demande d'avoir des aliés.
                Le but est de faire le même setup que précédemment, mais en stackant des stacks de Seisme sur le boss pendant les 2 premiers tours.
            </p> 
            <ol>
                <li> T1 : on place 2 portails, on place des stacks de Séisme sur le boss. </li>
                <li> T2 : on place 2 portails de +, on place le Cataclysme sur une case en prévision du tour suivant</li>
                <li> T3 : </li>
                <ul>
                    <li>les buffeurs buff l'elio (Baton du feca, Piqure de l'Osa, Revitalisation de l'Eni)</li>
                    <li>les débuffeur de résistances (Osa, Eni) retirent 200 res au boss</li>
                    <li>le placeur met le Boss à côté du glyphe Cataclysme, de préférence de façon à donner le dos, et de préférence sur un portail mis à l'avance</li>
                    <li>l'elio : </li>
                </ul>
                <ol>
                    <li>Passe en exalté (ça le tp sur le glyphe Cataclysme, déclenche les stacks de Séisme précédemment accumulés, et proc Rage sur les portails)</li>
                    <li>(Utilise soit Targe, soit un sort de déplacement afin de placer le mob sur un portail (si pas déja))</li>
                    <li>Lance la Lame déchainée</li>
                    <li>Lance la Raclée</li>
                    <li>Lance l'incandescence</li>

                    <b>Note</b> : On peut utiliser Coalition afin de retirer nos portails et gagner 2 PA pour le tour en cours, et 4 pour le tour suivant.
                </ol>
            </ol>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les meilleurs supports</div>
        <div class="textContent">
            <p>
                Certains supports synergisent particulièrement bien avec l'Elio Mêlée
            </p>
            <ul>
                <li>Panda (Placement)</li>
                <li>Feca (Buff dégats, le sort Bâton)</li>
            </ul>
            <p>
                Ainsi que :
            </p>
            <ul>
                <li>Osa (Buff PA + Buff dégats + Rall res)</li>
            </ul>
        </div>
    </div>

</div>