
<div class="container">

        <div class="content">
            <h2> A lire avant de se stuff </h2>
            <h5> Ou comment à la fois économiser ses kamas et taper + fort </h5>
            <br>
            <h5> 1. Le système de rareté </h5>
                Les items de base ont un système de rareté, où la rareté correspond directement à la quantité de stats que l'objet possède. Listés dans l'ordre de rareté croissante :
                <ul>
                    <li style="color:var(--green)"> Vert (rare) </li>
                    <li style="color:var(--orange)"> Orange (mythique) </li>
                    <li style="color:var(--yellow)"> Jaune (légendaire) </li>
                </ul>
                Ainsi deux objets du même nom, mais qui ont une rareté différente donneront des stats du même nom, mais dans des quantitées différentes.
                Par exemple, si j'ai mon item "Anneau du bourrin" qui donne de la vita et de la maitrise elem, alors dans les différentes raretés, il donnera quelque chose comme 
                <ul>
                    <li style="color:var(--green)"> Vert : 10 vita, 5 elem </li>
                    <li style="color:var(--orange)"> Orange : 12 vita, 7 elem </li>
                    <li style="color:var(--yellow)"> Jaune : 15 vita, 9 elem </li>
                </ul>

                Ainsi que deux raretés à part :
                <ul>
                    <li style="color:var(--violet)"> Violet (Epique)</li>
                    <li style="color:var(--mauve)"> Mauve (Relique)</li>
                </ul>
                Un même item en vert est donc plus faible que sa version en orange, qui est elle-même plus faible que sa version en jaune.
                <br>
                Ce faisant, les items jaunes opti sont souvent très chers par rapport à leurs contreparties oranges par exemple. Notez que souvent, la différence de stats entre un item orange et jaune n'est pas si énorme que ça, mais pourtant l'item orange pourra être trouvé en hdv à seulement une fraction du prix du jaune. Ce qui nous mêne au point suivant.
                <br><br>

            <h5>2. L'enchantement</h5>
                Les stats totales d'un build ne proviennent qu'en partie des items en eux-mêmes. Facilement la moité de vos stats proviennent de l'enchantement. Avoir 4 bonnes runes sur son item permet d'ajouter énormément de stats, parfois doublant même les stats de l'item.
                Dès lors, un stuff entier en items verts enchantés avec 4 bonnes chasses sur chaque item sera toujours meilleur qu'un stuff full légendaire non enchanté, ou enchanté avec de mauvaises chasses.
                Et vous vous en doutez bien, enchanter ses items oranges pas cher c'est facile, mais par contre enchanter ses items légendaires qui coûtent un bras, ça demande un bien plus grand investissement.
                <br><br>

                <h6>Les sublimations</h6>
                Et dernièrement un point sur les sublimations : la plupart des sublimations ne concernent que les stuffs super opti et ne devraient pas être considérées tant que vous n'avez pas d'expérience.
                Des exceptions à cette règle peuvent être faites pour certaines sublis lowcost et fortes de façon génériques pendant la phase de leveling.
                Voici une liste non-exhaustive de ces sublimations :
                <ul>
                    <li><b>Retour vital</b></li>
                    <li><b>Retour enflammé</b> (pour les dtp mêlée, type Ougi/Sacri/Iop/Elio/Sram ...)</li>
                    <li><b>Expert des armes légères</b> (+- apd lv 50 et +- jusqu'au lv 180) </li>
                </ul>
                <br>
            <h5>3. Quand changer de stuff</h5>
                Si vous vous demandez quand changer de stuff, sachez que sur Wakfu en général on gardera le même stuff pour 2 paliers/tranches de niveaux, 
                principalement parce que la différence de stats n'est pas très grande, en termes d'items ainsi qu'en terme d'enchantements.<br>
                <br>
                Pour rappel ces paliers de niveaux sont ceux de la modulation (et donc des donjons concernés par ces tranches).<br>
                Par exemple on utilisera le stuff lv 20 pour faire les donjons la tranche <u>1 à 20 ET 21 à 35</u>, puis le stuff lv 50 pour faire les tranches <u>36 à 50 ET 51 à 65</u>, et ainsi de suite.
                <br><br>
                Un grand nombre de joueurs ne se stuff donc qu'aux niveaux 20, 50, 80, 110, 140, 170, 200 et finalement 230.
                <br><br>
                Si vous souhaitez faire vos builds ou les adapter à votre style de jeu, commencez par regarder ces vidéos ci :
                <ul>
                    <li> <a href="https://youtu.be/3dCQljaEczo"> (youtube) Nozadah - TUTO : Créer ses propres builds rapidement (Wakfu) </a> </li>
                    <li> <a href="https://youtu.be/Dg6ATJkhyzs"> (youtube) Zimas - Les erreurs à ne pas faire sur son stuff </a> </li>
                </ul>
        </div>

</div>
