
<div class="container">
        <h2 class="text-center"> A lire avant de se stuff </h2>
        <h5 class="text-center"> Ou comment à la fois économiser ses kamas et taper + fort </h5>

    <div class="textcontentContainer">
        <div class="textContentTitle">Système de rareté</div>
        <div class="textContent">
                <p> Les items de base ont un système de rareté, où la rareté correspond directement à la quantité de stats que l'objet possède. Listés dans l'ordre de rareté croissante : </p>
                <div class="rarities">
                    <div class="rarity rarity-rare">
                        <span > Rare </span> 
                    </div>
                    <div class="rarity rarity-mythic">
                        <span> Mythique </span>
                    </div>
                    <div class="rarity rarity-legendary">
                        <span> Légendaire</span>
                    </div>
                </div>
                <p>
                    Ainsi deux objets du même nom, mais qui ont une rareté différente donneront des stats du même nom, mais dans des quantitées différentes.
                    Par exemple, si j'ai mon item "Anneau du bourrin" qui donne de la vita et de la maitrise elem, alors dans les différentes raretés, il donnera quelque chose comme :
                </p>
                <div class="rarities">
                    <div class="rarity rarity-rare">
                        <span > 10 vita, 5 elem </span> 
                    </div>
                    <div class="rarity rarity-mythic">
                        <span> 12 vita, 7 elem </span>
                    </div>
                    <div class="rarity rarity-legendary">
                        <span> 15 vita, 9 elem </span>
                    </div>
                </div>

                <p> Ainsi que deux raretés à part : </p>
                <div class="rarities">
                    <div class="rarity rarity-epic">
                        <span > Epique </span> 
                    </div>
                    <div class="rarity rarity-relic">
                        <span> Relique </span>
                    </div>
                </div>
                <p> Un même item en vert est donc plus faible que sa version en orange, qui est elle-même plus faible que sa version en jaune. </p>
                <p> 
                    Ce faisant, les items jaunes opti sont souvent très chers par rapport à leurs contreparties oranges par exemple.
                    Notez que souvent, la différence de stats entre un item orange et jaune n'est pas si énorme que ça, mais pourtant l'item orange pourra être trouvé en hdv à seulement une fraction du prix du jaune. Ce qui nous mêne au point suivant.
                </p>
        </div>
    </div>
    
    <div class="textcontentContainer">
        <div class="textContentTitle">Enchantement</div>
        <div class="textContent">
                <p>
                    Les stats totales d'un build ne proviennent qu'en partie des items en eux-mêmes. Facilement la moité de vos stats proviennent de l'enchantement. Avoir 4 bonnes runes sur son item permet d'ajouter énormément de stats, parfois doublant même les stats de l'item.
                    Dès lors, <b> un stuff entier en items oranges enchantés avec 4 bonnes chasses sur chaque item sera toujours meilleur qu'un stuff full légendaire non enchanté</b>, ou enchanté avec de mauvaises chasses.
                    Et vous vous en doutez bien, enchanter ses items oranges pas cher c'est facile, mais par contre enchanter ses items légendaires qui coûtent un bras, ça demande un bien plus grand investissement.
                </p>
                <div class="container-alternative-items">
                    <app-alternative-item
                        itemName="Exemple"
                        imageUrl="{{imgExLardanteUrl}}"
                        imageAlt="enchanting example"
                        itemDesc="Le plastron a 49 stats de base, et 56 (4x14) stats bonus d'enchantement. On a doublé ses stats !">
                    </app-alternative-item>
                </div>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Sublimations</div>
        <div class="textContent">
                
                Et dernièrement un point sur les sublimations : la plupart des sublimations ne concernent que les stuffs super opti et ne devraient pas être considérées tant que vous n'avez pas d'expérience.
                Des exceptions à cette règle peuvent être faites pour certaines sublis lowcost et fortes de façon génériques pendant la phase de leveling.
                Voici une liste non-exhaustive de ces sublimations :
                <ul>
                    <li><b>Retour vital</b> : passivement, vous soigne à chaque fois que vous tuez un ennemi.</li>
                        <ul>
                            <li>
                                Bon sur <b>tous les persos</b>.
                            </li>
                            <li>
                                Si vous faites des brèches, c'est le meilleur investissement à faire.
                            </li>
                        </ul>
                    <li><b>Retour enflammé</b> : après avoir tué un ennemi, au début de votre prochain tour, les cases autours de vous explosent et infligent de gros dégats aux ennemis à votre contact.</li>
                    <ul>
                        <li>
                            Bon sur <b>les persos mêlée</b>.
                        </li>
                    </ul>
                </ul>
                <br>
            </div>
    </div>

    <div class="textcontentContainer">
            <div class="textContentTitle">Quand changer de stuff</div>
            <div class="textContent">
                    Si vous vous demandez quand changer de stuff, sachez que sur Wakfu en général on gardera le même stuff pour 2 paliers/tranches de niveaux, 
                    principalement parce que la différence de stats n'est pas très grande, en termes d'items ainsi qu'en terme d'enchantements.<br>
                    <br>
                    Pour rappel ces paliers de niveaux sont ceux de la modulation (et donc des donjons concernés par ces tranches).<br>
                    Par exemple on utilisera le stuff lv 20 pour faire les donjons la tranche <u>1 à 20 ET 21 à 35</u>, puis le stuff lv 50 pour faire les tranches <u>36 à 50 ET 51 à 65</u>, et ainsi de suite.
                    <br><br>
                    Un grand nombre de joueurs ne se stuff donc qu'aux niveaux 20, 50, 80, 110, 140, 170, 200 et finalement 230.
                    <br><br>
                    Si vous souhaitez faire vos builds ou les adapter à votre style de jeu, commencez par regarder ces vidéos ci :
                    <ul>
                        <li> <a href="https://youtu.be/3dCQljaEczo"> (youtube) Nozadah - TUTO : Créer ses propres builds rapidement (Wakfu) </a> </li>
                        <li> <a href="https://youtu.be/Dg6ATJkhyzs"> (youtube) Zimas - Les erreurs à ne pas faire sur son stuff </a> </li>
                    </ul>
            </div>
    </div>
</div>
