
<div class="container">
    <h2 class="text-center"> Les bases de l'elio </h2>

    <div class="difficulty-container">
        <div class="difficulty-tile text-center">
            <div class="difficulty-tile-title"> Prise en main ("Skill floor") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                    <div class="star-full"> ★ </div>
                    <div class="star-full"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="star-empty"> ★ </div>
                    <div class="difficulty-written"> (2/5) facile </div>
                </div> 
        </div>
        <div class="difficulty-tile text-center"> 
            <div class="difficulty-tile-title"> Complexité ("Skill ceiling") </div>
            <div class="difficulty-rating">
            <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (3/5) modéré </div>
            </div> 
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Overview</div>
        <div class="textContent">
            <p>
                Tout d'abord il faut situer l'élio dans son gameplay. L'elio est conçu pour être un personnage à dégâts. Ce rôle implique qu'il a plein de sorts offensifs qui font beaucoup de dégâts, mais pas nécessairement de très bons sorts défensifs.

                L'elio possède deux mécaniques principales qui définissent la classe.
            </p>
            <ol>
                <li> L'utilisation des portails </li>
                <li> Le fait d'alterner entre deux états, appelés respectivement "Serein" et "Exalté".</li>
                <ul> <li> On y reviendra plus tard, mais lors de votre découverte du jeu, ne vous souciez pas trop des états</li> </ul>
            </ol>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les portails et le déplacement</div>
        <div class="textContent">
            <p>
                Commençons simplement avec les portails. Ceux-ci ont deux utilités principales: 
            </p>
            <ol>
                <li> ils permettent de <b> se téléporter entre les portails </b> </li>
                <li> ils permettent de <b> taper de loin en lançant ses sorts à travers les portails </b> </li>
            </ol>

            <p>
                En pratique, en jeu, voici comment les utiliser pour se déplacer :
            </p>

            <ul>
                <li> Pour utiliser un portail pour se déplacer, il faut :</li>
                <ol>
                    <li>Avoir placé au moins deux portails</li>
                    <li>Se trouver sur un portail</li>
                    <li>Avoir au minimum 1 PM, car se téléporter entre portails coûte 1 PM.</li>
                    <li>Cliquer sur le portail sur lequel on souhaite se téléporter.</li>
                </ol>
            </ul>
            
            <p>
                <img class="gifs-illustrations" src="https://i.imgur.com/t5QARq6.gif" alt="ex_deplacement_portails">
            </p>

            <p>
                En résumé, une fois placé correctement sur le portail, vous pouvez simplement cliquer un autre portail pour vous téléporter ! C'est aussi simple que ça !
            </p>
            <p>
                Attention, il y a cependant une petite restriction sur la téléportation. En effet, si vous vous téléportez de 6 cases ou plus avec un portail, vous obtenez un débuff de dégâts qui dure plusieurs tours. 
                Ce malus peut stack jusqu'à 3 fois, et une fois ce montant atteint, le malus réduira vos dégâts à 0 !
	            Attention donc à gérer correctement vos téléportation si vous souhaitez faire le tour de la map !
            </p>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les portails et les sorts</div>
        <div class="textContent">
            <p>
                Maintenant parlons de l'utilisation des portails avec les sorts !
            </p>

            <ul>
                <li> Pour utiliser un portail afin de lancer un sort vous devez : </li>
                <ol>
                    <li>Avoir deux portails en jeu</li>
                        <ul>
                            <li>un proche de vous à travers lequel vous allez lancer les sorts</li>
                            <li>un loin de vous à travers duquel les sorts vont sortir</li>
                        </ul>

                    <li>Vous placer à portée de lancer de sort du portail d'entrée</li>
                        <ul>
                            <li>Par exemple si vous souhaitez utiliser le sort "Pulsation" qui a 4 de portée, vous devez vous trouver à 4 cases ou moins de votre portail</li>
                        </ul>

                    <li>Vous pouvez maintenant lancer votre sort depuis n'importe quel autre portail sur le terrain ! </li>
                        <ul>
                            <li>A noter : contrairement à Dofus, on ne lance pas les sorts sur le portail, mais bien sur les mobs !</li>
                        </ul>
                </ol>
            </ul>    
            
            <p>
                <img class="gifs-illustrations" src="https://i.imgur.com/ESeSCHl.gif" alt="ex_sorts_portails">
            </p>

             <p>
                Vous l'aurez peut-être remarqué si vous avez lu vos sorts [oui c'est une attaque personnelle >:) ], mais certains de vos sorts ont des effets différents en fonction de si vous vous trouvez dans  l'état Serein/Exalté, et de si vous les lancez à travers un portail ou pas.
                
                Vous vous familiariserez petit à petit avec votre classe et vos sorts en jouant (et en lisant vos sorts >:) ), cependant voici un exemple que vous pouvez tester par vous-même:
            </p>
            <ol>
                <li>Placez deux portails, dont un en ligne avec un ennemi</li>
                <li>Lance le sort Wakmeha à travers un portail. Vous remarquerez que vous avec fait plus de dégâts que d'habitude. Pourquoi ? Eh bien il faut lire le sort :)</li>
            </ol>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Notes sur les états Serein et Exalté</div>
        <div class="textContent">
            <p>
                Par défaut vous commencez le combat avec l'état Serein; celui-ci fait que vous gagnez 30% de dégâts en fin de tour, pour deux tours. (donc 60% de dégâts max, passivement).
                Vous pouvez passer en état Exalté en utilisant le sort Exaltation, situé juste à côté de votre sort pour placer des portails. De même, vous pouvez re-passer en état Serein en ré-utilisant ce même sort.
                Le comportement de certains sorts change en fonction de votre état; mais lorsque vous découvrez la classe, je vous suggère de ne pas vous en soucier pour le moment.
            </p>

        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Deck de sort pour commencer</div>
        <div class="textContent">
            <p>
                Pour finir, si vous cherchez un deck de sort simple pour commencer, voici celui que je préconise pour le niveau 20 :
            </p>
            <p>
                <img src="https://i.imgur.com/vKmMK1o.png" alt="ex_deck_sort_lv20">
            </p>

            <p>
                Code du deck (cliquez pour copier):
            </p>
            <div class="deckCode" onclick="copyToClipboard('4692-4691-4669-4670-4693-4698-7199-0-0-0-0-0-4957-0-0-0-0-0')"> 4692-4691-4669-4670-4693-4698-7199-0-0-0-0-0-4957-0-0-0-0-0 </div>
            <p>
                C'est un deck de sort assez versatile, avec des dégâts, de la mobilité et du placement, et qui vous permettra d'apprendre les bases de l'élio en toute sérénité (pun intended).
                Quant au stuff pour accompagner ce deck, je vous suggère de <a routerLink = "/stuff/20" target="_blank" rel="noopener noreferrer">consulter la page dédiée à ceux-ci</a>.
            </p>

        </div>
    </div>

    

</div>