<div class="container"> 
    <div class="content">
        <h2 class="text-center">Sites à connaître</h2>
        <h5 class="text-center"></h5>
        <br>
    </div>

    <div class="content">
        <h2>ZenithWakfu</h2>
        <h5><a href="https://www.zenithwakfu.com/">https://www.zenithwakfu.com/</a></h5>
        <h5>Builder de stuff, même idée que Dofusbook, DofusRoom, DofusPlanner, etc. mais pour Wakfu</h5>

        Il s'agit du seul builder de stuff Wakfu. En général quand vous chercherez des stuffs, ce sont des liens vers ce site que l'on vous proposera.<br>
        C'est également des liens vers ce site que vous trouverez dans mes pages de stuffs.
    </div>

    <div class="content">
        <h2>MethodWakfu</h2>
        <h5><a href="https://methodwakfu.com/">https://methodwakfu.com/</a></h5>
        <h5>Guides pour les quêtes du jeu. Un peu le DofusPourLesNoobs de Wakfu</h5>
        
        Il s'agit du principal guide des quêtes pour Wakfu. Il est relativement complet, même si parfois un brin outdated.<br>
        Les quêtes principales sont gardées à jour, et une partie des donjons ont leurs fonctionnements, mécaniques, et mobs d'expliqués. <br>
        Si vous êtes bloqués dans une quête ou vous posez des questions sur une mécanique du jeu, il est probable qu'une explication soit quelque part sur le site.
    </div>

    <div class="content">
        <h2>Encyclopédie officielle</h2>
        <h5><a href="https://www.wakfu.com/fr/mmorpg/encyclopedie">https://www.wakfu.com/fr/mmorpg/encyclopedie</a></h5>
        <h5>Qui contient également le bestiaire <a href="https://www.wakfu.com/fr/mmorpg/encyclopedie/monstres">https://www.wakfu.com/fr/mmorpg/encyclopedie/monstres</a> </h5>
        Il s'agit de l'encyclopédie officielle (par Ankama, sur le site officiel), qui regroupe entre autres :
        <ul>
            <li>tous les monstres du jeu </li>
            <ul>
                <li>avec les drops possibles et le taux de drop</li>
            </ul>
            <li>tous les items</li>
            <ul>
                <li>avec leur craft si connu</li>
                <li>avec les mobs sur lesquels l'item peut être drop, si l'item est droppable</li>
            </ul>
        </ul>
    </div>

    <div class="content">
        <h2>Site de Nozadah</h2>
        <h5><a href="https://wakfu.guide/">https://wakfu.guide/</a></h5>
        <h5>Un peu de tout sur Wakfu, de bons guides et tutos</h5>
        Je conseillerais plutôt de regarder ses vidéos tutos, néanmoins certaines pages restent intéressantes, telles que les pages sur les sublimations et les pages sur les conseils de stuffs.
    </div>

    <div class="content">
        <h2>Discord(s)</h2>
        <h5>De nombreux Discords existent, souvent ce sont ceux de streamers/youtubers</h5>
        Si vous êtes perdus, de nombreux Discord aident les joueurs; sans ordre particulier :
        <ul>
            <li> Nozadah - <a href="https://discord.gg/gdacPpe"> Discord Nozadah </a></li>
            <li> Ymoka - <a href="https://discord.gg/ymoka"> Discord Ymoka </a> </li> 
            <li> Zimas - <a href="https://discord.com/invite/zwJ4pZq"> Discord Zimas </a></li>
            <li> SD_Kaido </li>
            <li> IttleDew - <a href="https://discord.gg/WwPky75PzJ"> Discord Ittle </a></li>
            <li> Aekami (le mien) - <a href="https://discord.gg/49EaCMrYsY"> Discord Aekami </a> </li>
        </ul>

    </div>


</div>