<div class="container">
    
    <h2 class="text-center">Sites à connaître</h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">ZenithWakfu - <a href="https://www.zenithwakfu.com/">https://www.zenithwakfu.com</a></div>
        <div class="textContent">
            <p>
                Builder de stuff, même idée que Dofusbook, DofusRoom, DofusPlanner, etc. mais pour Wakfu.
            </p>
            <p>
                Il s'agit du seul builder de stuff Wakfu. En général quand vous chercherez des stuffs, ce sont des liens vers ce site que l'on vous proposera.
                C'est également des liens vers ce site que vous trouverez dans mes pages de stuffs.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">MethodWakfu - <a href="https://methodwakfu.com/">https://methodwakfu.com</a></div>
        <div class="textContent">
            <p>
                Guides pour les quêtes du jeu. Un peu le DofusPourLesNoobs de Wakfu
            </p>
            <p>
                Il s'agit du principal guide des quêtes pour Wakfu. Il est relativement complet, même si parfois un brin outdated.
            </p>
            <p>
                Les quêtes principales sont gardées à jour, et une partie des donjons ont leurs fonctionnements, mécaniques, et mobs d'expliqués.
                Si vous êtes bloqués dans une quête ou vous posez des questions sur une mécanique du jeu, il est probable qu'une explication soit quelque part sur le site.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Encyclopédie officielle - <a href="https://www.wakfu.com/fr/mmorpg/encyclopedie">https://www.wakfu.com/fr/mmorpg/encyclopedie</a></div>
        <div class="textContentTitle">Qui contient également le bestiaire - <a href="https://www.wakfu.com/fr/mmorpg/encyclopedie/monstres">https://www.wakfu.com/fr/mmorpg/encyclopedie/monstres</a></div>
        <div class="textContent">
            <p>
            Il s'agit de l'encyclopédie officielle (par Ankama, sur le site officiel), qui regroupe entre autres :
            </p>
            <ul>
                <li>tous les monstres du jeu </li>
                <ul>
                    <li>avec les drops possibles et le taux de drop</li>
                </ul>
                <li>tous les items</li>
                <ul>
                    <li>avec leur craft si connu</li>
                    <li>avec les mobs sur lesquels l'item peut être drop, si l'item est droppable</li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Organiser vos crafts métier - <a href="https://craftkfu.waklab.fr/">Craftkfu</a></div>
        <div class="textContent">
            <p>
                Une app en ligne qui vous permet de selectionner un item que vous souhaitez craft, et qui vous fournit la liste des ressources pour le craft.
                Particulièrement pratique lorsque vous avez plusieurs items à craft.
            </p>
        </div>
    </div>

    

    <div class="textcontentContainer">
        <div class="textContentTitle">Site de Nozadah - <a href="https://wakfu.guide/">https://wakfu.guide</a></div>
        <div class="textContent">
            <p>
                Un peu de tout sur Wakfu, de bons guides et tutos.
            </p>
            <p>
                Regardez plutôt les vidéos tutos, qui ont tendance a être plus claires que les articles.
            </p>
            <p>
                Néanmoins certaines pages restent très intéressantes, telles que les pages sur les sublimations et les pages sur les conseils de stuffs.
            </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Discord(s)</div>
        <div class="textContent">
            <p>
                De nombreux Discords existent, souvent ce sont ceux de streamers/youtubers.
                Si vous êtes perdus, de nombreux Discord aident les joueurs; sans ordre particulier :
            </p>
            <ul>
                <li> Nozadah - <a href="https://discord.gg/gdacPpe"> Discord Nozadah </a></li>
                <ul><li>Pour pour les teams de 3 sur Pandora - <a href="https://discord.com/invite/vPVNBTz6"> Groupes Pandora</a></li></ul>
                <li> Ymoka - <a href="https://discord.gg/ymoka"> Discord Ymoka </a> </li> 
                <li> Zimas - <a href="https://discord.com/invite/zwJ4pZq"> Discord Zimas </a></li>
                <li> SD_Kaido </li>
                <li> IttleDew - <a href="https://discord.gg/WwPky75PzJ"> Discord Ittle </a></li>
                <li> Aekami (le mien) - <a href="https://discord.gg/49EaCMrYsY"> Discord Aekami </a> </li>
            </ul>
        </div>
    </div>


</div>