
<div class="container">
    <h2 class="text-center">Les mimics / mimiques</h2>

    <div class="textcontentContainer">
        <div class="textContentTitle">Qu'est ce que c'est ?</div>
        <div class="textContent">
               <p>
                    Les mimics sont des mobs pacifiques qui peuvent spawn aléatoirement dans un combat en donjon après avoir tué l'un des monstres.
               </p>
               <p> De façon succinte :</p>
               <ul>
                    <li> Il existe différents types de mimics, avec chacune une couleur et un nom qui les identifie</li>
                        <ul>
                            <li> Chaque type de mimic peut drop des ressources ou consomables différents</li>
                        </ul>
                    <li> Le taux de spawn des mimics augmente jusqu'au stasis 6. </li>
                    <li> Il n'est pas nécessaire d'être modulé pour faire spawn des mimics.</li>
                        <ul>
                            <li>Le bonus de taux de drop en modulé permet néanmoins de meilleures chances de drop.</li>
                        </ul>
                    <li> Il y a une faible chance qu'un pack de 6 mimics spawn d'un coup</li>
               </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Les types de mimics</div>
        <div class="textContent">
            <p>
                Comme dit précédemment, chaque type de mimic peut drop des ressources ou consomables différents :
            </p>
            <div class="mimic_desc_container">
                <div class="mimic-tile">
                    <img class="mimic-img-container" src="" alt="mimic runique">
                    <div class="mimic-img-label"> <b>Mimic runique</b></div>
                </div>
                <div class="mimic-descr">
                    <p>
                        Ces mimics ont une chance de drop des éclats (10% chance de drop), et des <b>sublimations</b> :
                    </p>
                    <ul>
                        <li>Influence</li>
                        <ul>
                            <li> Influ I : 0.4% </li>
                            <li> Influ II : 0.1% </li>
                            <li> Influ III : 0.05% </li>
                        </ul>
                        <li>Longueur</li>
                        <ul>
                            <li> Longueur I : 0.4% </li>
                            <li> Longueur II : 0.1% </li>
                            <li> Longueur III : 0.05% </li>
                        </ul>
                    </ul>
                    
                </div>
            </div>
            
            <p>
                
            </p>
        </div>
    </div>

</div>