
<div class="container">
    <h2 class="text-center"> Les bases du Zobal </h2>

    <div class="difficulty-container">
        <div class="difficulty-tile text-center">
            <div class="difficulty-tile-title"> Prise en main ("Skill floor") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (2/5) facile </div>
            </div> 
        </div>
        <div class="difficulty-tile text-center"> 
            <div class="difficulty-tile-title"> Complexité ("Skill ceiling") </div>
            <div class="difficulty-rating">
                <!-- ★☆☆☆☆ -->
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-full"> ★ </div>
                <div class="star-empty"> ★ </div>
                <div class="difficulty-written"> (4/5) modéré </div>
            </div>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle"> Mécaniques spécifiques de la classe </div>
        <div class="textContent">

        </div>
    </div>