<div class="container">
    <div class="content">
        <h2 class="text-center">La sagesse des anciens</h2>
        <h5 class="text-center">Aka plein de choses en vrac que j'aurais aimé qu'on me dise / explique quand j'ai commencé</h5>
    </div>

    <div class="content">
        <h2>Les thèmes d'interface</h2>
        L'interface grisatre de Wakfu nous vient tout droit des années 2000. Afin de palier à cette vieillesse visuelle, Ankama a créé une option permettant aux joueurs d'installer des thèmes. <br>
        <a routerLink="/themes">Installer un theme d'interface</a>
    </div>

    <div class="content">
        <h2>Teleportations gratuites aux zaaps depuis n'importe où</h2>
        <h5>Aka potions de rappel infinies</h5>
        Il existe deux items vous permettant de vous TP à côté de zaap, et ce depuis n'importe où.
        <ul>
            <li>Le <b>Biblioteleport</b></li>
            <li>La <b>Croquette d'Ecaflipus</b></li>
        </ul>
        Il suffit de cliquer l'item pour vous retrouver à côté du zaap correspondant.
        <div class="content">
            Le Biblioteleport permet de se tp au zaap du Bibliotemple. Il s'obtient en interagissant avec le croupier situé dans la premiere salle à l'intérieur. Il est gratuit.
        </div>
        <div class="content">
            La croquette d'Ecaflipus permet de se tp au zaap de l'arene d'Ecaflipus. Elle s'obtient simplemement en visitant Ecaflipus, et est ajoutée automatiquement dans votre inventaire lors de votre première visite.
        </div>
        Par facilité, Il est conseillé de glisser l'un de ces items dans votre barre d'accès rapide.
    </div>

    <div class="content">
        <h2>La quête des assistants d'Otomai</h2>
        <h5>Aka +- la quête tour du monde de Wakfu</h5>
        A Astrub, près du donjon Tofu, se trouve un pnj Assistant d'Otomai. Lui parler permet de lancer une suite de quêtes demandant de réaliser une série de donjons et de lui ramener des ressources.
        Cette quête rapporte beaucoup d'xp (qui scale selon votre niveau, vous pouvez donc réaliser la quête au lv 205 par exemple, et obtenir beaucoup d'xp en tapant des donjons bas niveaux, par exemple), ainsi que quelques équipements sympa.
    </div>

    <div class="content">
        <h2>Les quêtes mercenaires</h2>
        Chaque région ou presque a un comptoir des mercenaires. Le premier se situe à Astrub, à gauche du Zaap. La quête principale vous y fait passer.
        Vous trouverez là des quêtes à réaliser dans la région. Ce sont souvent des quêtes scénarisées finissant par vous demander de réaliser un donjon de la zone.
        En récompense vous obtiendrez un bon nombre de kamas (sauf à Astrub) et de jetons du niveau de la tranche. Pour rappels ces jetons s'échangent aux croupiers situés proche du zaap de la zone.
    </div>

    <div class="content">
        <h2>Lesjetons</h2>
        Lorsque vous finissez un donjon ou certaines quêtes, vous remarquerez que vous recevez des jetons de noms divers et variés. Ces jetons sont échangeables auprès des croupiers de chaque zone contre des ressources rares ou des items.
        Chaque tranche de niveau a un type de jeton qui lui est lié. Par exemple les jetons rudimentaires sont obtenus sur n'importe lequel des donjons de niveaux 1 à 20 d'Astrub.
        Ces mêmes jetons peuvent être échangés au croupier d'Astrub, à côté du Zaap, contre des ressources de boss des donjons de la zone, ou contre des items.
    </div>

    <div class="content">
        <h2>Bonus d'xp et de drop - Rejoindre une nation</h2>
        Dès le début du jeu vous pouvez choisir de rejoindre une nation de votre choix en interagissant avec le panneau à droite du grand hibou, près du zaap.<br>
        Ceci n'influencera en rien votre aventure (sauf si vous souhaitez PvP), mais peut vous octroyer des bénéficies plutôt sympas : 
        <ul>
            <li>un bonus d'xp passif</li>
            <li>un bonus de drop passif</li>
        </ul>
        Le montant du bonus dépend du nombre de territoires contrôlés par votre nation (l'aspect PvP du jeu), ainsi que du nombre de volontés des maitres de clans qui sont respectées parmi ces territoires. Il est possible d'avoir :
        <ul>
            <li>pas de bonus - (moins de 15 territoire conquis et/ou moins de 15 territoires dont les volontés des maitres de clan sont respectées)</li>
            <li>15 de sagesse (+15% d'xp) et 15 de Prospection (+15% de drop) - entre 15 et 30 territoires</li>
            <li>30 de sagesse (+30% d'xp) et 30 de Prospection (+30% de drop) - 30 teritoires ou + </li>
        </ul>
        Vous pouvez donc choisir une nation, et avoir passivement un bonus d'xp et de drop. Rien ne vous oblige à participer à l'aspect PvP. Il n'y a pas de malus au fait de rejoindre une nation, et rien n'est bloqué par votre appartenance à une nation.
    </div>

    <div class="content">
        <h2>Les dégats positionnels</h2>
        Rappel des tutoriels de l'ile de Ri (je sais que vous les avez skip >:p)<br>
        Dans un combat, en fonction de votre positionnement par rapport au mob, vous infligez plus ou moins de dégats :
        <ul>
            <li>+0% de face</li>
            <li>+10% de côté</li>
            <li>+25% de dos</li>
        </ul>
        Taper dans le dos d'un mob augmente donc "gratuitement" vos dégats de 25%
    </div>

    <div class="content">
        <h2>Brisez vos items et ressources</h2>
        A force de faire des combats, vous allez remplir votre inventaire d'items et de ressources en tout genre. Il existe une option permettant de briser les items et ressources en surplus afin de générer des éclats et des poudres.
        N'ayez pas peur de briser les items verts et les ressources ayant peu de valeur.<br>
        Pour rappel, briser un item génère des éclats, briser une ressource génère des poudres.
    </div>

    <div class="content">
        <h2>L'Almanax</h2>
        L'Almanax, situé au bibliotemple, est une quête journalière demandant d'aller prier à l'autel du jour. Chaque jour permet d'obtenir un Almaton; ce jeton peut ensuite être échangé au croupier situé dans la première salle.
        Vous avez le choix entre diverse récompenses. Ceux que je conseille sont :
        <ul>
            <li>Pour 1 Almaton :</li>
            <ul>
                <li>Bonbon de sagesse (+100 sagesse (= +100% xp) pour 1 combat)</li>
                <li>Bonbon de prospection (+100pp (= +100% de drop) pour 1 combat)</li>
            </ul>
            <li> Pour 30 Almatons</li>
            <ul>
                <li>Des costumes cosmetiques</li>
            </ul>
        </ul>
        A vous de choisir selon ce dont vous avez besoin.<br>
        Notez que vous pouvez obtenir un almaton par jour par personnage, et non par compte.
    </div>

    <div class="content">
        <h2>Points de caractéristiques</h2>
        Jusqu'au niveau 80 (voire 110), tous les persos tapent. Il n'est pas nécessaire de se spécialiser dès le début (et si vous jouez tank en solo, vous allez galérer).
        Si vous ne savez pas comment attribuer vos points de caractéristiques au début de votre aventure, vous pouvez suivre ceci :
        <ul>
            <li>Intelligence</li>
            <ul>
                <li>Tous les persos</li>
                <ul>
                    <li>Maximum (10 points) dans <b>resistance elementaire</b></li>
                    <li>Tout le reste dans <b>vie</b> </li>
                </ul>
            </ul>

            <li>Force</li>
            <ul>
                <li>Persos mêlée</li>
                <ul>
                    <li>Maximum (40 points) dans <b>maitrise mêlée</b></li>
                    <li>Tout le reste dans <b>maitrise élémentaire</b> </li>
                </ul>
                <li>Persos distance</li>
                <ul>
                    <li>Maximum (40 points) dans <b>maitrise distance</b></li>
                    <li>Tout le reste dans <b>maitrise élémentaire</b> </li>
                </ul>
                <li>(Si vous jouez en groupe) Persos supports (Tank placement, Support Shield, ... )</li>
                <ul>
                    <li>Tout dans <b>vie</b></li>
                </ul>
            </ul>

            <li>Agilité</li>
            <ul>
                <li>Tous les persos dégats (DPT) et supports distance</li>
                <ul>
                    <li>Tout dans <b>esquive</b></li>
                </ul>
                <li>Tanks placeurs</li>
                <ul> 
                    <li>Tout en <b>tacle</b> ou en <b>tacle et esquive</b></li>
                </ul>
            </ul>

            <li>Chance</li>
            <ul>
                <li>Persos dégats (DPT)</li>
                <ul>
                    <li>Maximum en <b>chance de critique</b></li>
                    <li>Tout le reste en <b>dégats critiques</b></li>
                    <ul> 
                        <li>Les Sacrieur peuvent mettre leurs points en <b>maitrise berserk</b> à la place s'ils le souhaitent</li>
                        <li>Les Eniripsa peuvent mettre leurs points en <b>maitrise soin</b> à la place s'ils le souhaitent</li>
                        <li>Les Sram peuvent mettre leurs points en <b>maitrise dos</b> à la place s'ils le souhaitent</li>
                    </ul>
                </ul>

                <li>Tanks</li>
                <ul> 
                    <li>Maximum en <b>parade</b></li>
                    <li>Tout le reste en <b>resistance dos</b></li>
                </ul>
            </ul>

            <li>Majeur</li>
            <ul>
                <li>Lv 25</li>
                <ul>
                    <li> Prenez +1PO. Pas pour le PO, mais pour les 40 de maitrises élémentaire qui viennent avec. A bas niveau (20, 35), 40 de stats gratuites c'est vraiment fort.</li>
                </ul>
                <li> Autres lv</li>
                <ul>
                    <li>Prenez ce qui convient le mieux à votre perso. En général on prend en priorité le +1PA sur les personnages dégats (DPT), et +1PM sur les tanks/placeurs.</li>
                    <li>Les Xelor apprécieront prendre le +2PW.</li>
                </ul>
            </ul>
        </ul>
    </div>

</div>
