
:root{
    /* Background colors*/
    --bgColor : #faf9f6;/* #1e293d; */
    --secondaryBgColor : rgb(33, 37, 41); /* #3e425e;*/ 

    /* Text colors */
    --mainTextColor : black;
    --secondaryTextcolor : rgba(255, 255, 255, 0.8);

    /* Highlight colors */
    --mainHighlightColor : #1e53a1 ;/* #F1F1F1*/
    --secondaryHighlightColor : #272727;

    /* Fonts */
    --baseFont : "Times New Roman", Times, serif;
    --impactFont : Impact, "Times New Roman", Times, serif;


    /* Items rarity colors*/
    --white : #ffffff;
    --green : #37a823;
    --orange : #e69d00;
    --yellow : #ffd438;
    --mauve : #460960;
    --violet : #9a6fb1;
    --red : #c03b44;

    /* Classes gameplay difficulties */
    --difficulty-font-size : 1.5rem;
    --difficulty-star-full-color : gold;
    --difficulty-star-empty-color : white;
}

html, body{
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #fefcf5;/* #FFF5EE;*/
}
  
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.info{
    border: 1px solid darkgreen;
    background-color: #ddffdd;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.warning{
    border: 1px solid goldenrod;
    background-color: #ffffcc;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.danger{
    border: darkred;
    background-color: lightcoral;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.content {
    flex: 1;
    padding-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    padding : 1rem;
}

.textcontentContainer{
    background-color: white;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
}

.textContent {
    padding-top: 0;
    padding : 1rem;
    border-radius: 0.5rem;
}

.textContentTitle{
    background-color: var(--secondaryBgColor) ;
    color: var(--secondaryTextcolor);
    padding: 0.5rem;
}

.bannerContent {
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 20%) solid;
    border-radius: 0.3rem;
    background-color: rgba(27, 27, 27, 0.05);
}

img {
    max-width: 100%;
    height: auto;
}
  
.difficulty-container{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.difficulty-tile{
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryBgColor) ;
    color: var(--secondaryTextcolor);
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;
    flex-wrap: wrap;
}

.difficulty-tile-title{
    font-weight: bold;
    word-break: break-all;
}

.difficulty-rating{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.star-full{
    display: flex;
    font-size: var(--difficulty-font-size);
    color: var(--difficulty-star-full-color);
    height: fit-content;
}

.star-empty{
    display: flex;
    font-size: var(--difficulty-font-size);
    color: var(--difficulty-star-empty-color );
    height: fit-content;
}

.difficulty-written{
    font-size: var(--difficulty-font-size);
}

.container-alternative-items{
    display: flex;
    flex-direction: row;
    gap : 3rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.alternative-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
}

.show-hover:hover{
    width: fit-content;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.dgMinisContainer{
    display:flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    gap : 0.5rem;
}

.dg_mini{
    background-color: rgba(138, 109, 109, 0.1);
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    flex :1;
    min-width: 0.5rem; /* To allow images to shrink properly. Why is this even a thing ? css/10 */
}

.dg_mini img {
    object-fit: contain;
    width: auto;
}
