
:root{
    /* Background colors*/
    --bgColor : #faf9f6;/* #1e293d; */
    --secondaryBgColor : rgb(33, 37, 41); /* #3e425e;*/ 

    /* Text colors */
    --mainTextColor : black;
    --secondaryTextcolor : rgba(255, 255, 255, 0.8);

    /* Highlight colors */
    --mainHighlightColor : #1e53a1 ;/* #F1F1F1*/
    --secondaryHighlightColor : #272727;

    /* Fonts */
    --baseFont : "Times New Roman", Times, serif;
    --impactFont : Impact, "Times New Roman", Times, serif;


    /* Items rarity colors*/
    --white : #ffffff;
    --green : #37a823;
    --orange : #e69d00;
    --yellow : #ffd438;
    --mauve : #460960;
    --violet : #9a6fb1;
    --red : #c03b44;
}

html, body{
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #fefcf5;/* #FFF5EE;*/
}
  
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    padding : 1rem;
}

.textcontentContainer{
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
}

.textContent {
    padding-top: 0;
    padding : 1rem;
    border-radius: 0.5rem;
}

.textContentTitle{
    background-color: var(--secondaryBgColor) ;
    color: var(--secondaryTextcolor);
    padding: 0.5rem;
}

.bannerContent {
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 20%) solid;
    border-radius: 0.3rem;
    background-color: rgba(27, 27, 27, 0.05);
}

img {
    max-width: 100%;
    height: auto;
  }
  
