
<div class="container">
    <div class="content">
        <h2> Lv 50 </h2>
        <h5> Tout le monde est toujours un dpt </h5>

            Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins; le xel aimera par exemple les PO alors que l'elio n'en a pas besoin.
            Comme les stuffs sont génériques, n'hésitez pas à adapter selon vos besoins !<br>
            <br>
            Au niveau 50, tous les persos peuvent équiper le même build, avec de <b>petites</b> variantes selon la classe.
            Il s'agit toujours de builds full elem génériques, avec parfois un item distance ou mêlée.<br>
            Jouer des persos en tant que "pur supports" n'est toujours pas nécessaire, vous tapez avec toutes les classes.
    </div>

    <div class="content">
        <div class="title"> Rappel important </div>
            <ul>
                <li><b>L'enchantement de votre stuff est tout aussi important que les items</b>. La moité de vos stats proviennent de là.</li>
                <li>Tous les donjons sont faisables avec un stuff orange, les épiques et reliques donnent surtout + de PA/PM/PO.</li>
                <li>Le cac, la Razielle, est l'un des seuls cac donnant 1PA. Il n'y a pas de dague d'équipée en arme secondaire afin de pouvoir utiliser la sublimation Expert des armes légères.</li>
                <ul>
                    <li>Expert des armes légères est de l'optimisation, et ne doit être considérée qu'après avoir obtenu votre stuff et l'avoir enchanté correctement (de préférence avec les couleurs en prévision).</li>
                </ul>
                
            </ul>
    </div>

    <div class="content">
        <h2> Stuff générique</h2>
        <h5> Exemple avec une coiffe PO</h5>

            <img src="https://i.imgur.com/5EqSiqY.png" alt="build générique lv 50"> <br>
            Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/bfe16"> Build générique avec PO</a> <br>
            <br>
            Si vous n'avez pas besoin de PO, changez la coiffe :
            <ul>
                <li>
                    Pour les classes <b>distance</b> qui n'ont pas besoin de PO (Elio, potentiellement Xel, Eni, ...), par un Casque Mort-brulé :<br>
            <img src="https://i.imgur.com/YFBNhZa.png" alt="coiffe mort-brulés">
                </li>
                <li>
                    Pour les classes mêlées, par un casque craquelé : <br>
            <img src="https://i.imgur.com/DCoGefg.png" alt="casque craquelé">
                </li>
            </ul>

            
    </div>

    <div class="content">
        <h2> Les items <span style="color:var(--violet)">Epiques</span> et <span style="color:var(--mauve)">Reliques</span></h2>
    
        Concernant les items <span style="color:var(--mauve)">Reliques</span>
        <ul>
            <li> (plastron) La <span style="color:var(--mauve)">Coquille</span> - Beaucoup de maitrises et 1PA, mais un malus de 1PO. Au global, la meilleure Epique si le malus PO ne gène pas votre classe.</li>
            <li> (cape) La <span style="color:var(--mauve)">Kyou aux ailes</span> - Si votre classe n'aime pas le malus PO de la Coquille (Cra, Xel, Hupper, etc).</li>
        </ul>

        Concernant les items <span style="color:var(--violet)">Epiques</span>
        <ul>
            <li>Les <span style="color:var(--violet)">Bottes de Koko</span> - seule epique de cette tranche qui permet de gagner 1PA.</li>
            <li>La <span style="color:var(--violet)">Perruque de Goultard</span> -  Intéressante pour tous les persos distance qui aiment la PO (Cra, Xel, Hupper, Eni, Osa, ... ).
                De ce fait, elle sera souvent couplée à la Kyou aux ailes plutôt qu'à la Coquille, afin d'éviter le malus PO. Notez que bien qu'elle donne  2PO et 1PM, contrairement aux bottes de Koko elle ne donne pas de PA. A vous de voir si votre classe bénéficie plus de PA ou de PO+PM</li>
        </ul>
        <b>NOTE</b> Si vous n'avez pas énormément de kamas, n'hésitez pas à garder votre <span style="color:var(--violet)">Anneau de satisfaction</span> du niveau 20, cela reste un très bon anneau.
    </div>
    <br>

    <div class="content">
        <div class="title"> Exemple de stuff distance avec relique et epiques</div>
            <img src="https://i.imgur.com/uLrlyM2.png" alt="build medium_high dist lv 50"> <br>
            Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/ac5fd"> Build medium distance avec PO</a> <br>
    </div>
    <br>

    <div class="content">
        <div class="title"> Exemple de stuff mêlée avec relique et epiques</div>
            <img src="https://i.imgur.com/1zaryVI.png" alt="build high melee lv 50"> <br>
            Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/1b436"> Build high_cost mêlée </a> <br>
    </div>
    <br>
</div>
