
<div class="container">
    <h2 class="text-center"> Lv 50 </h2>
    <h5 class="text-center"> Tout le monde est toujours un dpt </h5>

    <div class="textcontentContainer">
        <div class="textContentTitle">Préface</div>
        <div class="textContent">
                <p> 
                    Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins; le xel aimera par exemple les PO alors que l'elio n'en a pas besoin.
                    Comme les stuffs sont génériques, n'hésitez pas à adapter selon vos besoins !
                </p>
                <p>
                    Au niveau 50, tous les persos peuvent équiper le même build, avec de <b>petites</b> variations selon la classe.
                    Il s'agit toujours de builds full elem génériques, avec parfois un item distance ou mêlée.
                </p>
                <p>
                    Jouer des persos en tant que "pur supports" n'est toujours pas nécessaire, vous tapez avec toutes les classes.
                </p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Rappel important</div>
        <div class="textContent">
                <ul>
                    <li><b>L'enchantement de votre stuff est tout aussi important que les items</b>. La moité de vos stats proviennent de là.</li>
                    <li>Tous les donjons sont faisables avec un stuff orange, les épiques et reliques donnent surtout + de PA/PM/PO.</li>
                    <li>Le cac, la Razielle, est l'un des seuls cac donnant 1PA. Il n'y a pas de dague d'équipée en arme secondaire afin de pouvoir utiliser la sublimation Expert des armes légères.</li>
                    <ul>
                        <li>La sublimation "Expert des armes légères" est de l'optimisation, et ne doit être considérée qu'après avoir obtenu votre stuff et l'avoir enchanté correctement (de préférence avec les couleurs en prévision des sublimations à poser dans le futur).</li>
                    </ul>
                </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Stuff générique</div>
        <div class="textContent">
            <h5 class="text-center"> Exemple avec une coiffe PO</h5>
            <a href ="https://www.zenithwakfu.com/builder/bfe16" target="_blank" rel="noopener noreferrer">
                <img  class="stuff-zenith-preview show-hover" src="https://i.imgur.com/8UyLnnT.png" alt="build générique lv 50">
            </a> 
            <p class="text-center"> Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/bfe16" target="_blank" rel="noopener noreferrer"> Build générique avec PO</a> </p>

            <h5>Coiffes alternatives</h5>
            <div class="container-helm-alternatives">

                <div class="item-alternatives">
                    <span> <b>Maitrise + PO</b></span>
                    <img  class="stuff-zenith-preview" src="https://i.imgur.com/h47OKJp.png" alt="coiffe mort-brulés">
                    <span> Coiffe Moogr Impériale </span>
                </div>

                <div class="item-alternatives">
                    <span> <b>Distance sans PO</b></span>
                    <img  class="stuff-zenith-preview" src="https://i.imgur.com/JfpMetH.png" alt="coiffe mort-brulés">
                    <span> Casque de Mort-brulé </span>
                </div>

                <div class="item-alternatives">
                    <span> <b>Mêlée</b></span>
                    <img  class="stuff-zenith-preview" src="https://i.imgur.com/zItTOCR.png" alt="casque craquelé">
                    <span> Casque craquelé </span>
                </div>
            </div>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">
             Les items <span style="color:var(--violet)"><b>Epiques</b></span> et <span style="color:var(--mauve);background-color: rgba(255,255,255,60%); border-radius: 0.3rem; padding:0.2rem;"><b>Reliques</b></span></div>
        <div class="textContent">
            <p>Concernant les items <span style="color:var(--mauve)"><b>Reliques</b></span> </p>
            <ul>
                <li> (plastron) La <span style="color:var(--mauve)">Coquille</span> - Beaucoup de maitrises et 1PA, mais un malus de 1PO. Au global, la meilleure Epique si le malus PO ne gène pas votre classe.</li>
                <li> (cape) La <span style="color:var(--mauve)">Kyou aux ailes</span> - Si votre classe n'aime pas le malus PO de la Coquille (Cra, Xel, Hupper, etc).</li>
            </ul>

            <p> Concernant les items <span style="color:var(--violet)"><b>Epiques</b></span> </p>
            <ul>
                <li>Les <span style="color:var(--violet)">Bottes de Koko</span> - seule epique de cette tranche qui permet de gagner 1PA.</li>
                <li>La <span style="color:var(--violet)">Perruque de Goultard</span> -  Intéressante pour tous les persos distance qui aiment la PO (Cra, Xel, Hupper, Eni, Osa, ... ).
                    De ce fait, elle sera souvent couplée à la Kyou aux ailes plutôt qu'à la Coquille, afin d'éviter le malus PO. Notez que bien qu'elle donne  2PO et 1PM, contrairement aux bottes de Koko elle ne donne pas de PA. A vous de voir si votre classe bénéficie plus de PA ou de PO+PM</li>
            </ul>
            <div class="info"> <b>NOTE</b> Si vous n'avez pas énormément de kamas, n'hésitez pas à garder votre <span style="color:var(--violet)">Anneau de satisfaction</span> du niveau 20, cela reste un excellent choix lowcost. </div>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Exemple de stuff distance avec relique et epique</div>
        <div class="textContent">
            <a href ="https://www.zenithwakfu.com/builder/ac5fd" target="_blank" rel="noopener noreferrer"> 
                <img class="stuff-zenith-preview show-hover" src="https://i.imgur.com/O1mXftA.png" alt="build medium dist lv 50">
            </a>
                <p class="text-center"> Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/ac5fd" target="_blank" rel="noopener noreferrer"> Build medium distance avec PO</a></p>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Exemple de stuff mêlée avec relique et epiques</div>
        <div class="textContent">
            <a href ="https://www.zenithwakfu.com/builder/1b436" target="_blank" rel="noopener noreferrer">
                <img class="stuff-zenith-preview show-hover" src="https://i.imgur.com/8UxJCWT.png" alt="build high melee lv 50">
            </a>
            <p class="text-center"> Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/1b436" target="_blank" rel="noopener noreferrer"> Build high_cost mêlée </a> </p>
            <ul>
                <li>
                    La ceinture est droppable sur l'archi-monstre de la salle "secrete" du donjon champs <br/>
                    Prérequis : au moins un membre du groupe doit être paysan niveau 35 ou +
                    <ul>
                        <li> Rappel : Après avoir défait le boss, <b>ne sortez pas</b> du donjon.</li>
                        <li> L'un des membres du groupe a drop une graine spéciale sur le boss</li>
                        <li> Retournez dans la première salle du donjon</li>
                        <li> Donnez la graine au paysan, et plantez la dans la case en bas a gauche qui ressemble à de la boue</li>
                        <li> Ceci fait apparaitre un combat "secret" contre l'archimonstre</li>
                        <ul>
                            <li>
                                Si c'est la première fois, vous déverouillez également un exploit qui vous octroie une havre-gemme jardin ! 
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
