
.stuff-zenith-preview{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
}

.link-styling{
    display: flex;
    justify-self: center; /* works in chrome but not firefox (cause we're not in a flex parent)*/
    width: fit-content;
    margin: auto; /* to center self, works in firefox */
}

.alt-item-name{
    font-weight: bold;
}

.alt-item-desc{
    font-style: italic;
}