
<div class="container">
    <h2 class="text-center"> Lv 110 </h2>
    <h5 class="text-center"> Tout le monde se spécialise : DPT mêlée/distance, Tank placement, Support Heal/Shield, etc. </h5>

    <div class="textcontentContainer">
        <div class="textContentTitle">Préface</div>
        <div class="textContent">
            <p> 
                Tous les stuffs sont là à titre d'exemples, et reflètent parfois mon opinion. Un Xelor et un Elio sont tous les deux des dpt distances, mais n'ont pas nécessairement les mêmes besoins;
                le xel aimera par exemple les PO alors que l'elio n'en a pas besoin. N'hésitez pas à adapter selon vos besoins !
            </p>
            <p>
                Au niveau 110, il est très grandement conseillé de <b>se spécialiser</b> dans différents rôles (Support / Tank / DPT).
                Toutes les classes ont accès à leurs kits de sorts complets, les mobs commencent à infliger trop de dégats que pour que les DPT ne puisse les tanker, ce pourquoi il est important d'avoir des rôles dédiés.
             </p>
             <p>
                De même, les combats commencent à avoir des mécaniques demandant du placement et/ou de la tankiness.
             </p>
             <p>
                De façon simplifiée :
             </p>

             <h3> Pour les supports "tanks placement"</h3>
             <ul>
                <li> <b>Pandawa</b> (Tank + placeur)</li>
                <ul>
                    <li>Le panda peut jouer Tank + placeur; son rôle sera alors de placer les mobs de façon pratique pour les DPT, par exemple : </li>
                        <ul>
                            <li>Faire des "packs" de mobs en zone pour que son Cra puisse Fleche Explo dessus</li>
                            <li>Prendre les mobs proche des DPT et les envoyer au loin pour les protéger</li>
                        </ul>
                </ul>
                <li> <b>Sacrieur</b> (Tank + placeur)</li>
                <ul>
                    <ul>
                        <li>Faire des "packs" de mobs en zone pour que son Cra puisse Fleche Explo dessus (Porter/Jeter, Triple Karma Leet)</li>
                        <li>Tacler les mobs et les attirer/garder loin des DPT (Tonneau+ Frappe Fût)</li>
                    </ul>
                </ul>
               
             </ul>

             <h3> Pour les supports "tanks soutien"</h3>
             <ul>
                <li> <b>Osamodas</b> (Tank + shield alliés + buff alliés + debuff mobs + placeur) </li>
                <ul>
                    <li>Shield les alliés (<b>prendre le passif "Dévouement animal"</b> pour mettre du shield avec les sorts terre)</li>
                    <li>Buff les alliés (Piqure motivante, Invocations type piou rouge)</li>
                    <li>Debuff les resistances des ennemis ("Cri Affaiblissant")</li>
                    <li>Forcer les ennemis à être tournés dos aux DPT avec le sort "Déplumage"</li>
                </ul>
                <li> <b>Feca</b> (Tank + Shield alliés + Buff alliés mêlée + placeur) </li>
                <ul>
                    <li>Shield les alliés</li>
                    <li>Si on a un DPT mêlée => lui donner le sort Bâton pour le buff, quand il proche des mobs</li>
                    <li>Replacer les alliés (Frappe Tellurique) </li>
                    <li>Replacer les mobs (Avalanche)</li>
                </ul>
                <li> <b>Zobal</b> (Tank + Shield (+heal) + buff alliés + placeur + debuff mobs)</li>
                <ul>
                    <li>Shield les alliés (Armature, Cabriole, )</li>
                    <li>Buff les alliés (Masque, Détraquage)</li>
                    <li>Replacer les alliés et les mobs (Les sorts airs : Dislocation, Poursuite, Cavalcade, ... ) </li>
                    <li>Soigner les alliés (Signe, Rescousse, Sarabande)</li>
                    <li>Donner le dos des mobs aux DPT (Coup de pied fouetté)</li>
                </ul>
             </ul>

             <h3> Pour les supports "full soutien"</h3>
             <ul>
                <li><b>Enirispa</b></li>
                <ul>
                    <li>Heal les alliés (Sorts eau + les marques)</li>
                    <li>Buff les alliés (Revitalisation, Flamme Purificatrice, Lien d'amitié)</li>
                    <li>Debuff les résistances des boss (Lapino quand invoqué lorsque l'eni est en mode Contre Nature)</li>
                </ul>
                <li><b>Sadida</b></li>
                <ul>
                    <li>Heal les alliés</li>
                    <li>Shield les alliés</li>
                    <li>Retirer des résistances aux mobs (Coup de froid , Voodool sur les boss)</li>
                    <li>Buff les alliés</li>
                </ul>
             </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Rappel important</div>
        <div class="textContent">
                <ul>
                    <li><b>L'enchantement de votre stuff est tout aussi important que les items</b>. La moité de vos stats proviennent de là.</li>
                    <li>Tous les donjons sont faisables avec un stuff orange, les épiques et reliques donnent surtout + de PA/PM/PO.</li>
                    
                    <ul>
                        <li>La sublimation "Expert des armes légères" est de l'optimisation, et ne doit être considérée qu'après avoir obtenu votre stuff et l'avoir enchanté correctement (de préférence avec les couleurs en prévision des sublimations à poser dans le futur).</li>
                    </ul>
                </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">DPT distance</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/6zdNdlo.png" alt="build DPT lowcost dist 110"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/881c6"> Build DTP Lv 110</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement. 
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne épique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            </ul>
            <p>Améliorations possibles si kamas :</p>
            <ul>
                <li>Remplacer le plastron par une Combinaison Lardante; il s'agit du seul plastron +1PA de la tranche</li>
                <li>Remplacer le cac par un cac 1 main au choix, et jouer avec la sublimation Expert des Armes légères</li>
                <li>Si vous avez besoin de PW (Xelor, Cra) vous pouvez équiper une Gelature en ceinture si vous en ressentez le besoin</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">DPT mêlée</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/6B8uCbE.png" alt="build DPT melee 110"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/84482"> Build DTP Lv 110</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>La <b>Combinaison Lardante</b> est le seul plastron +1PA de la tranche. Il est relativement cher, mais très conseillé si vous souhaitez vous investir en 110</li>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement. 
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne épique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            </ul>
            <p>Améliorations possibles si kamas :</p>
            <ul>
                <li>Remplacer le plastron par une Combinaison Lardante; il s'agit du seul plastron +1PA de la tranche</li>
                <li>Remplacer le cac par un cac 1 main au choix, et jouer avec la sublimation Expert des Armes légères</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Supports tank placement (Panda / Sacri / ... )</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/b04H4eN.png" alt="build support tank placeurs 110"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/511ce"> Build support tanks placeurs Lv 110</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement, cependant sur un support tank vous pouvez vous en passer si les kamas vous font défaut.
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne épique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Supports tank qui ont besoin de PW (OSA)</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/p61x6vK.png" alt="build support PW tank 110"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/11c58"> Build support PW tank Lv 110</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement, cependant sur un support tank vous pouvez vous en passer si les kamas vous font défaut.
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne épique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            </ul>
        </div>
    </div>

    <div class="textcontentContainer">
        <div class="textContentTitle">Supports soin</div>
        <div class="textContent">
            <p>
                <img src="https://i.imgur.com/wHqj4N8.png" alt="build support heal tank 110"> <br>
                Lien ZenithWakfu : <a href ="https://www.zenithwakfu.com/builder/21828"> Build support heal tanky Lv 110</a>
            </p>
            <p>
                Ce build est suffisant pour faire du S5. Il ne s'agit pas d'un build "opti", mais bien d'un build avec un bon ratio "stats/prix".
            </p>
            <p>
                Notes :
            </p>
            <ul>
                <li>Le <b>Gelano</b> est une très bonne relique et un excellent investissement, cependant sur un support tank vous pouvez vous en passer si les kamas vous font défaut.
                    Vous pouvez le garder jusqu'au niveau 200 si vous souhaitez économiser vos kamas sur tous vos builds entre le lv60 et 200. Il s'agit de l'item le plus cher de ce stuff, cependant je vous conseille <b>fortement</b> d'en obtenir un.</li>
                <li>L'<b>Insangsé</b> est également une très bonne épique que vous pouvez garder jusqu'au 200 si vous souhaitez économiser des kamas. (ou le changer par une Bagus Shushu au lv 125).</li>
            </ul>
        </div>
    </div>

</div>
